openapi: 3.0.0
info:
  title: Jupiter Transaction API
  version: "1.0"
servers:
  - url: https://api.jup.ag/tx/v1
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Jupiter API key from portal.jup.ag
paths:
  /submit:
    post:
      operationId: postSubmit
      tags:
        - Submit
      summary: Submit a transaction
      description: Submits a signed transaction through Jupiter's transaction landing infrastructure. Requires a SOL tip (minimum 0.001 SOL) to one of the permitted tip receivers. Accepts any valid signed Solana transaction.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                signedTransaction:
                  type: string
                  description: Base64-encoded signed transaction
              required:
                - signedTransaction
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                    description: Transaction signature
                required:
                  - signature
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Error message
                required:
                  - error
