openapi: 3.0.3
info:
  title: Swap API V2
  version: 2.0.0
  description: |
    Jupiter Swap API V2. Three endpoints: `/order` (default happy path with managed execution),
    `/build` (advanced path returning raw swap instructions), and `/execute` (managed transaction execution for `/order`).

servers:
  - url: https://api.jup.ag/swap/v2
    description: Swap API V2 Endpoint

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Get API key via https://portal.jup.ag

  schemas:
    Instruction:
      type: object
      properties:
        programId:
          type: string
          description: Program executing the instruction
        accounts:
          type: array
          items:
            type: object
            properties:
              pubkey:
                type: string
              isWritable:
                type: boolean
              isSigner:
                type: boolean
            required: [pubkey, isWritable, isSigner]
        data:
          type: string
          description: Base64-encoded instruction data
      required: [programId, accounts, data]

    SwapInfo:
      type: object
      properties:
        ammKey:
          type: string
        label:
          type: string
        inputMint:
          type: string
        outputMint:
          type: string
        inAmount:
          type: string
        outAmount:
          type: string
      required: [ammKey, label, inputMint, outputMint, inAmount, outAmount]

    RoutePlanStep:
      type: object
      properties:
        swapInfo:
          $ref: "#/components/schemas/SwapInfo"
        percent:
          type: number
          description: Percentage of total swap routed through this step
        bps:
          type: number
          description: Basis points of total swap routed through this step
        usdValue:
          type: number
          description: USD value of this step
      required: [swapInfo, percent, bps]

    PlatformFee:
      type: object
      properties:
        amount:
          type: string
        feeBps:
          type: number
          description: Platform fee in basis points
        feeMint:
          type: string

    AdvancedFee:
      type: object
      properties:
        feeBps:
          type: string
        feeFlat:
          type: string
        feeReceiver:
          type: string
        feeMint:
          type: string
        feeUsdValue:
          type: number

    SwapEvent:
      type: object
      properties:
        inputMint:
          type: string
        inputAmount:
          type: string
        outputMint:
          type: string
        outputAmount:
          type: string

  parameters:
    InputMintParameter:
      name: inputMint
      in: query
      required: true
      schema:
        type: string
      description: The mint address of the input token
      example: So11111111111111111111111111111111111111112

    OutputMintParameter:
      name: outputMint
      in: query
      required: true
      schema:
        type: string
      description: The mint address of the output token
      example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v

    AmountParameter:
      name: amount
      in: query
      required: true
      schema:
        type: string
      description: The amount to swap in the smallest unit of the input token
      example: "1000000000"

paths:
  /order:
    get:
      operationId: GetOrder
      tags:
        - Swap
      summary: Get Order
      description: |
        Get a swap quote and assembled transaction. This is the default happy path with all Ultra benefits
        (predictive execution, RTSE, Jupiter Beam, gasless, multi-router competition).

        Without optional parameters, all routers compete for the best price (Metis, JupiterZ RFQ, Dflow, OKX).
        Adding fee or swap modification parameters may restrict routing to Metis only.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/InputMintParameter"
        - $ref: "#/components/parameters/OutputMintParameter"
        - $ref: "#/components/parameters/AmountParameter"
        - name: taker
          in: query
          schema:
            type: string
          description: |
            The public key of the taker. Must be present if you intend to sign and execute the transaction.
            If omitted, the response will contain a quote but no transaction.
          example: GkwFnmMDvn3HGMpJpWBg8tgJxr3NxNvg3AXxvXVPbRGJ
        - name: receiver
          in: query
          schema:
            type: string
          description: |
            Override recipient of output tokens. Must differ from taker. Ignored if no taker.
        - name: swapMode
          in: query
          schema:
            type: string
            enum: [ExactIn, ExactOut]
          description: Either 'ExactIn' or 'ExactOut'. Defaults to ExactIn.
        - name: slippageBps
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 10000
          description: Slippage tolerance in basis points.
          example: 50
        - name: referralAccount
          in: query
          schema:
            type: string
          description: |
            Address of your referral account for the Jupiter referral project.
            If set, referralFee must also be set. Disables RFQ routing.
        - name: referralFee
          in: query
          schema:
            type: number
          description: |
            Referral fee in basis points. Must pair with referralAccount.
          example: 50
        - name: feeBps
          in: query
          schema:
            type: string
          description: |
            Integrator fee as a portion of swap input USD value, collected in feeMint.
            Integer between 1 and 10000 inclusive. ExactIn only. Disables RFQ routing.
        - name: feeFlat
          in: query
          schema:
            type: string
          description: |
            Flat fee amount in feeMint. Must be a positive integer. ExactIn only.
        - name: feeReducer
          in: query
          schema:
            type: string
            enum: [min, max, sum]
          description: Required if both feeBps and feeFlat are specified. Determines total fee calculation.
        - name: feeReceiver
          in: query
          schema:
            type: string
          description: |
            Wallet address to receive fees. Required if feeBps or feeFlat is specified.
        - name: feeMint
          in: query
          schema:
            type: string
          description: |
            Mint to collect fee in. If SOL mint, fee collected in native SOL.
            Required if feeBps or feeFlat is specified.
        - name: payer
          in: query
          schema:
            type: string
          description: |
            Account that pays gas-related fees (signature, priority, rent) on behalf of the taker.
            Enabling this changes routing behaviour.
          example: gasTzr94Pmp4Gf8vknQnqxeYxdgwFjbgdJa4msYRpnB
        - name: gasMint
          in: query
          schema:
            type: string
          description: Mint the taker will refund the payer in. Ignored if payer is not set.
        - name: priorityFeeLamports
          in: query
          schema:
            type: number
          description: Priority fee in lamports.
        - name: jitoTipLamports
          in: query
          schema:
            type: number
          description: Jito MEV tip in lamports.
        - name: nozomiTipLamports
          in: query
          schema:
            type: number
          description: Nozomi tip in lamports.
        - name: broadcastFeeType
          in: query
          schema:
            type: string
            enum: [maxCap, exactFee]
          description: Ignored if priorityFeeLamports and jitoTipLamports are not set.
        - name: excludeRouters
          in: query
          schema:
            type: string
          description: Comma-separated list of routers to exclude (e.g. "metis,jupiterz").
          example: metis,jupiterz
        - name: excludeDexes
          in: query
          schema:
            type: string
          description: Comma-separated list of DEXes to exclude from routing.
        - name: useWsol
          in: query
          schema:
            type: boolean
          description: Whether to use wrapped SOL instead of native SOL. Defaults to false.
        - name: closeAuthority
          in: query
          schema:
            type: string
          description: Close authority for ATAs created during the swap transaction.
      responses:
        "200":
          description: Quote with optional assembled transaction
          content:
            application/json:
              schema:
                type: object
                properties:
                  mode:
                    type: string
                    description: '"ultra" or "manual" based on parameters used'
                  inputMint:
                    type: string
                  outputMint:
                    type: string
                  inAmount:
                    type: string
                  outAmount:
                    type: string
                  inUsdValue:
                    type: number
                  outUsdValue:
                    type: number
                  priceImpact:
                    type: number
                    description: Price impact as a decimal (e.g. -0.001 = -0.1%)
                  swapUsdValue:
                    type: number
                  otherAmountThreshold:
                    type: string
                    description: Minimum output (ExactIn) or maximum input (ExactOut)
                  swapMode:
                    type: string
                  slippageBps:
                    type: number
                  priceImpactPct:
                    type: string
                    description: "Deprecated: use priceImpact instead"
                    deprecated: true
                  routePlan:
                    type: array
                    items:
                      $ref: "#/components/schemas/RoutePlanStep"
                  referralAccount:
                    type: string
                  feeMint:
                    type: string
                  feeBps:
                    type: number
                    description: Total fees including platform fee and other fees
                  platformFee:
                    $ref: "#/components/schemas/PlatformFee"
                  advancedFee:
                    $ref: "#/components/schemas/AdvancedFee"
                  signatureFeeLamports:
                    type: number
                  signatureFeePayer:
                    type: string
                    nullable: true
                  prioritizationFeeLamports:
                    type: number
                    description: Includes priority fees and tips (Jito, Nozomi)
                  prioritizationFeePayer:
                    type: string
                    nullable: true
                  rentFeeLamports:
                    type: number
                    description: Estimated rent fee
                  rentFeePayer:
                    type: string
                    nullable: true
                  swapType:
                    type: string
                    description: "Deprecated: use router instead"
                    deprecated: true
                    enum: [aggregator, rfq, aggregator+rfq, dflow, okx]
                  router:
                    type: string
                    enum: [iris, jupiterz, dflow, okx]
                    description: Which router won the quote
                  transaction:
                    type: string
                    nullable: true
                    description: |
                      Base64-encoded transaction. Null if taker is not provided.
                      Empty string if taker is provided but transaction could not be built (check errorCode).
                  lastValidBlockHeight:
                    type: string
                  gasless:
                    type: boolean
                  requestId:
                    type: string
                    description: Unique request ID. Pass this to /execute.
                  totalTime:
                    type: number
                    description: Response time in milliseconds
                  taker:
                    type: string
                    nullable: true
                  quoteId:
                    type: string
                    description: Quote ID for RFQ swaps
                  maker:
                    type: string
                    description: Market maker address for RFQ swaps
                  expireAt:
                    type: string
                    description: Quote expiration timestamp for RFQ swaps
                  errorCode:
                    type: number
                    description: Present when taker is defined but transaction is empty string
                  errorMessage:
                    type: string
                    description: Human-readable error description
                  error:
                    type: string
                    description: Duplicate of errorMessage for backwards compatibility
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                  error:
                    type: string

  /build:
    get:
      operationId: GetBuild
      tags:
        - Swap
      summary: Build Transaction
      description: |
        Get a swap quote with raw instructions for building custom transactions.
        This is the advanced path for integrators who need full transaction control
        (add custom instructions, CPI, custom payer).

        You are responsible for assembling the transaction, signing, and sending via your own RPC.
        The `/execute` endpoint is not available for `/build` transactions.

        Routing is Metis only. No swap fees are charged by Jupiter.
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/InputMintParameter"
        - $ref: "#/components/parameters/OutputMintParameter"
        - $ref: "#/components/parameters/AmountParameter"
        - name: userPublicKey
          in: query
          required: true
          schema:
            type: string
          description: Public key of the user initiating the swap.
          example: GkwFnmMDvn3HGMpJpWBg8tgJxr3NxNvg3AXxvXVPbRGJ
        - name: slippageBps
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 10000
          description: Slippage tolerance in basis points. Defaults to 50.
          example: 50
        - name: mode
          in: query
          schema:
            type: string
            enum: [fast]
          description: |
            Quoting mode. "fast" trades quote optimality for reduced latency.
        - name: dexes
          in: query
          schema:
            type: string
          description: |
            Comma-separated list of DEXes to restrict routing to.
            Mutually exclusive with excludeDexes.
        - name: excludeDexes
          in: query
          schema:
            type: string
          description: |
            Comma-separated list of DEXes to exclude.
            Mutually exclusive with dexes.
        - name: platformFeeBps
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 10000
          description: |
            Platform fee in basis points. If positive, feeAccount is required.
          example: 50
        - name: feeAccount
          in: query
          schema:
            type: string
          description: Token account to collect platform fees. Required if platformFeeBps is positive.
        - name: maxAccounts
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 64
          description: Maximum number of accounts for the swap route. Defaults to 64.
        - name: payer
          in: query
          schema:
            type: string
          description: Account that pays transaction fees and rent. Defaults to userPublicKey.
        - name: wrapAndUnwrapSol
          in: query
          schema:
            type: boolean
          description: Whether to wrap/unwrap SOL. Defaults to true.
        - name: destinationTokenAccount
          in: query
          schema:
            type: string
          description: |
            SPL token account to receive output tokens.
            Mutually exclusive with nativeDestinationAccount.
        - name: nativeDestinationAccount
          in: query
          schema:
            type: string
          description: |
            Native SOL account to receive output.
            Mutually exclusive with destinationTokenAccount.
        - name: blockhashSlotsToExpiry
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 300
          description: Number of slots until the blockhash expires. Defaults to 150.
      responses:
        "200":
          description: Quote with raw swap instructions
          content:
            application/json:
              schema:
                type: object
                properties:
                  inputMint:
                    type: string
                  outputMint:
                    type: string
                  inAmount:
                    type: string
                  outAmount:
                    type: string
                  otherAmountThreshold:
                    type: string
                    description: Minimum output amount after slippage
                  swapMode:
                    type: string
                  slippageBps:
                    type: number
                  routePlan:
                    type: array
                    items:
                      $ref: "#/components/schemas/RoutePlanStep"
                  computeBudgetInstructions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Instruction"
                    description: Compute unit price and limit instructions
                  setupInstructions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Instruction"
                    description: Pre-swap setup instructions (e.g. create ATAs)
                  swapInstruction:
                    $ref: "#/components/schemas/Instruction"
                  cleanupInstruction:
                    $ref: "#/components/schemas/Instruction"
                    nullable: true
                    description: Post-swap cleanup instruction
                  otherInstructions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Instruction"
                  addressesByLookupTableAddress:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
                    nullable: true
                    description: Address lookup table mappings for v0 transactions
                  blockhashWithMetadata:
                    type: object
                    properties:
                      blockhash:
                        type: array
                        items:
                          type: number
                        description: Blockhash as byte array
                      lastValidBlockHeight:
                        type: number
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string

  /execute:
    post:
      operationId: PostExecute
      tags:
        - Swap
      summary: Execute Transaction
      description: |
        Execute a signed transaction from `/order`. Handles transaction landing, confirmation, and retry.

        Only available for transactions obtained via `/order`. Transactions built via `/build` must be
        sent through your own RPC.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [signedTransaction, requestId]
              properties:
                signedTransaction:
                  type: string
                  description: Base64-encoded signed transaction
                requestId:
                  type: string
                  description: The requestId from the /order response
                lastValidBlockHeight:
                  type: string
                  description: Optional block height for nonce validation
      responses:
        "200":
          description: Execution result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [Success, Failed]
                  signature:
                    type: string
                    description: Transaction signature
                  slot:
                    type: string
                    description: Confirmed slot
                  error:
                    type: string
                    description: Error message (present if Failed)
                  code:
                    type: number
                    description: |
                      Error code. 0 = success.
                      Ultra: -1 (missing cached order), -2 (invalid signed tx), -3 (invalid message bytes).
                      Aggregator: -1000 (failed to land), -1001 (unknown), -1002 (invalid tx), -1003 (not fully signed), -1004 (invalid block height).
                      RFQ: -2000 (failed to land), -2001 (unknown), -2002 (invalid payload), -2003 (quote expired), -2004 (swap rejected).
                  totalInputAmount:
                    type: string
                    description: Total input token amount before fees
                  totalOutputAmount:
                    type: string
                    description: Total output token amount after fees
                  inputAmountResult:
                    type: string
                    description: Amount of input token used for the swap
                  outputAmountResult:
                    type: string
                    description: Amount of output token received from the swap
                  swapEvents:
                    type: array
                    items:
                      $ref: "#/components/schemas/SwapEvent"
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: number
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    type: string
                  error:
                    type: string
