openapi: 3.1.0
info:
  title: Jupiter Perpetuals API
  version: 1.0.0
  description: |
    Jupiter Perpetuals API Schema
servers:
  - url: https://api.jup.ag/perps/v1
    description: Jupiter Perpetuals API endpoint


paths:
  /market-stats:
    description: Fetches 24-hour market stats for the given market
    get:
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: mint
          description: Mint address for the given market
          schema:
            type: string
            enum:
              - So11111111111111111111111111111111111111112
              - 7vfCXTUXx5WJV5JADk17DUJ4ksgau7utNKj4b963voxs
              - 3NZ9JMVBmGAqocybic2c7LQCJScmgsAZ6vQqTDzcqmJh
            description: Mint address for the given market
          required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  price:
                    type: string
                    description: Current USD price for the given market
                    example: '123.00'
                  priceChange24H:
                    type: string
                    description: Current USD 24-hour price change (%) for the given market
                    example: '-20.00'
                  priceHigh24H:
                    type: string
                    description: USD value for the 24-hour high price for the given market
                    example: '123.00'
                  priceLow24H:
                    type: string
                    description: USD value for the 24-hour low price for the given market
                    example: '123.00'
                  volume:
                    type: string
                    description: >-
                      USD value for the 24-hour total volume for the given
                      market
                    example: '48123049.00'
                required:
                  - price
                  - priceChange24H
                  - priceHigh24H
                  - priceLow24H
                  - volume
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '422':
          description: 422 Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '500':
          description: 500 Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
  /orders/expired:
    description: Fetches expired orders for the wallet address
    get:
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: walletAddress
          description: Public key for the wallet to fetch expired orders
          schema:
            type: string
            description: Public key for the wallet to fetch expired orders
          required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  serializedTxs:
                    type: array
                    items:
                      type: object
                      properties:
                        serializedTxBase64:
                          type: string
                          description: >-
                            The serialized transaction (base64 encoded)
                            containing the instructions and given parameters for
                            the close position request instruction. The
                            transaction can be deserialized, signed by the owner
                            of `walletAddress` and submitted onchain to close
                            the position request
                        positionRequestPubkey:
                          type: string
                          description: The public key / address for the position request.
                      required:
                        - serializedTxBase64
                        - positionRequestPubkey
                    description: >-
                      An array of base64-serialized transactions and the
                      `positionRequestPubkey` to close all expired orders.
                  txMetadata:
                    type: object
                    properties:
                      blockhash:
                        type: string
                        description: >-
                          The blockhash used for the serialized transaction.
                          This blockhash must be used when submitting the signed
                          close position request transaction.
                      lastValidBlockHeight:
                        type: string
                        description: >-
                          The block height used for the serialized transaction.
                          This block height must be used when submitting the
                          signed close position request transaction.
                    required:
                      - blockhash
                      - lastValidBlockHeight
                    description: >-
                      Contains blockhash metadata for the serialized transaction
                      to submit and confirm the transactions.
                required:
                  - serializedTxs
                  - txMetadata
                description: >-
                  An array of base64-serialized transactions and transaction
                  metadata to close all expired orders.
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '422':
          description: 422 Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '500':
          description: 500 Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
  /orders/limit:
    description: Returns a serialized transaction to create a limit order.
    delete:
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                positionRequestPubkey:
                  type: string
                  description: >-
                    Public key / account address for the position request
                    account for the limit order.
              required:
                - positionRequestPubkey
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  serializedTxBase64:
                    type:
                      - string
                      - 'null'
                    description: >-
                      The serialized transaction (base64 encoded) containing the
                      instructions and given parameters for the close limit
                      order request. The transaction can be deserialized, signed
                      by the owner of `walletAddress` and submitted onchain to
                      execute the close limit order request
                  txMetadata:
                    type: object
                    properties:
                      blockhash:
                        type: string
                        description: >-
                          The blockhash used for the serialized transaction.
                          This blockhash must be used when submitting the
                          transaction.
                      lastValidBlockHeight:
                        type: string
                        description: >-
                          The block height used for the serialized transaction.
                          This block height must be used when submitting the
                          transaction.
                      transactionFeeLamports:
                        type: string
                        description: The transaction fee (in lamports) in decimal format.
                        example: '0.5'
                      accountRentLamports:
                        type: string
                        description: The account rent (in lamports) for the transaction
                        example: '0.5'
                    required:
                      - blockhash
                      - lastValidBlockHeight
                      - transactionFeeLamports
                      - accountRentLamports
                  positionPubkey:
                    type:
                      - string
                      - 'null'
                    description: >-
                      The unique identifier (i.e. a program derived address) for
                      the position account. Use this address to find the
                      position account onchain.
                  positionRequestPubkey:
                    type:
                      - string
                      - 'null'
                    description: >-
                      The unique identifier (i.e. a program derived address) for
                      the position request. Use this address to find the
                      position request account onchain
                  requireKeeperSignature:
                    type:
                      - boolean
                      - 'null'
                    description: ''
                required:
                  - serializedTxBase64
                  - txMetadata
                  - positionPubkey
                  - positionRequestPubkey
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '422':
          description: 422 Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '500':
          description: 500 Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
    get:
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                walletAddress:
                  type: string
                  description: Public key for the wallet to fetch expired orders
              required:
                - walletAddress
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                  dataList:
                    type: array
                    items:
                      type: object
                      properties:
                        collateralMint:
                          type: string
                          description: >-
                            The mint address for the limit order's collateral
                            token / custody
                        collateralCustody:
                          type: string
                          description: The public key for the collateral custody account
                        collateralUsd:
                          type: string
                          description: >-
                            The collateral value (USD) expressed as a raw
                            integer with 6 decimal places.
                          example: '1234000000'
                        collateralUsdAtTriggerPrice:
                          type: string
                          description: >-
                            The collateral value (USD) at the trigger price (raw
                            value with 6 decimal places).
                          example: '1234000000'
                        collateralTokenAmount:
                          type: string
                          description: >-
                            The collateral amount for the limit order scaled to
                            the token mint's decimals.
                        custody:
                          type: string
                          description: The mint address for the limit order custody
                        executed:
                          type: boolean
                          description: >-
                            `executed` is true when the limit order has been
                            executed, `false` otherwise.
                        inputMint:
                          type: string
                          description: >-
                            The mint address for the token used to create the
                            limit order.
                        liquidationPriceUsd:
                          type: string
                          description: >-
                            The liquidation price (USD) expressed as a raw
                            integer with 6 decimal places.
                          example: '13240000'
                        marketMint:
                          type: string
                          description: >-
                            The mint address for the limit order's token /
                            custody.
                        maxSizeUsdDelta:
                          type: string
                          description: >-
                            The maximum size (USD) for the limit order (raw
                            value with 6 decimal places).
                          example: '1234000000'
                        minSizeUsdDelta:
                          type: string
                          description: >-
                            The minimum size (USD) for the limit order (raw
                            value with 6 decimal places).
                          example: '1234000000'
                        openTime:
                          type: string
                          description: The UNIX timestamp when the limit order was created
                        positionPubkey:
                          type: string
                          description: >-
                            The public key / account address for the limit
                            order's open position
                        positionRequestPubkey:
                          type: string
                          description: >-
                            The public key / account address for the limit
                            order's position request
                        side:
                          type: string
                          enum:
                            - long
                            - short
                        sizeUsdDelta:
                          type: string
                          description: >-
                            The size (USD) of the limit order (raw value with 6
                            decimal places).
                        triggerPrice:
                          type:
                            - string
                            - 'null'
                          description: >-
                            The price (USD) at which the limit order is executed
                            (raw value with 6 decimal places).
                        triggerToLiquidationPercent:
                          type:
                            - string
                            - 'null'
                          description: >-
                            Percentage buffer between the limit order trigger
                            price and position liquidation price. Calculated as
                            ((triggerPrice - liquidationPrice) /
                            liquidationPrice) * 100.
                          example: '5.75'
                      required:
                        - collateralMint
                        - collateralCustody
                        - collateralUsd
                        - collateralUsdAtTriggerPrice
                        - collateralTokenAmount
                        - custody
                        - executed
                        - inputMint
                        - liquidationPriceUsd
                        - marketMint
                        - maxSizeUsdDelta
                        - minSizeUsdDelta
                        - openTime
                        - positionPubkey
                        - positionRequestPubkey
                        - side
                        - sizeUsdDelta
                        - triggerPrice
                        - triggerToLiquidationPercent
                required:
                  - count
                  - dataList
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '422':
          description: 422 Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '500':
          description: 500 Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
    post:
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                asset:
                  type: string
                  enum:
                    - BTC
                    - ETH
                    - SOL
                  description: The asset or market to trade against for the limit order.
                  example: SOL
                includeSerializedTx:
                  type: boolean
                  default: true
                  description: >-
                    Sets whether to return a serialized transaction
                    (`serializedTxBase64`) in the response.
                inputToken:
                  type: string
                  enum:
                    - BTC
                    - ETH
                    - SOL
                    - USDC
                  description: >-
                    The token symbol for the input token used to fund the limit
                    order.
                  example: USDC
                inputTokenAmount:
                  type: string
                  description: >-
                    The amount of tokens for the input token. NOTE: The token
                    amount needs to be an integer and must conform to the token
                    mint decimals specified onchain. For example, to deposit 1
                    SOL, the value would be '1000000000' (9 decimals).
                  example: '1000000000'
                leverage:
                  type: string
                  description: >-
                    Leverage of the limit order. Either provide leverage or
                    sizeUsdDelta.
                  example: '10'
                side:
                  type: string
                  enum:
                    - long
                    - short
                  description: Required when creating a limit order request.
                sizeUsdDelta:
                  type: string
                  description: >-
                    The amount in USD for the size of the limit order (raw value
                    with 6 decimal places). Either provide leverage or
                    sizeUsdDelta.
                  example: '10000000'
                triggerPrice:
                  type: string
                  description: >-
                    Trigger price at which the limit order will be executed (raw
                    value with 6 decimal places). For example, to set a trigger
                    price of $20, pass in 20000000.
                  example: '20000000'
                walletAddress:
                  type: string
                  description: >-
                    The wallet address / public key for the trader. Required
                    when creating a limit order that returns a serialized
                    transaction.
              required:
                - asset
                - inputToken
                - inputTokenAmount
                - side
                - triggerPrice
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  positionPubkey:
                    type:
                      - string
                      - 'null'
                    description: >-
                      The unique identifier (i.e. a program derived address) for
                      the position account. Use this address to find the
                      position account onchain.
                  quote:
                    type: object
                    properties:
                      averagePriceUsd:
                        type: string
                        description: >-
                          The average price for the position in USD (raw value
                          with 6 decimal places)
                        example: '10000000'
                      collateralUsdDelta:
                        type: string
                        description: >-
                          The change in collateral amount in USD (raw value with
                          6 decimal places)
                        example: '1124450000'
                      leverage:
                        type: string
                        description: The leverage amount for the position
                        example: '2.99'
                      liquidationPriceUsd:
                        type: string
                        description: >-
                          The liquidation price in USD (raw value with 6 decimal
                          places)
                        example: '13240000'
                      openFeeUsd:
                        type: string
                        description: >-
                          The total fee in USD for opening the position or
                          depositing collateral including base fees, borrowing
                          fees, and price impact fees (raw value with 6 decimal
                          places)
                        example: '100000'
                      outstandingBorrowFeeUsd:
                        type: string
                        description: >-
                          The outstanding borrow fees due / to be paid on
                          depositing collateral to the position (raw value with
                          6 decimal places)
                        example: '100000'
                      positionCollateralUsd:
                        type: string
                        description: >-
                          The total position collateral size in USD after the
                          increase (raw value with 6 decimal places)
                        example: '100000000'
                      positionSizeUsd:
                        type: string
                        description: >-
                          The total position size in USD including leverage
                          after the increase (raw value with 6 decimal places)
                        example: '10000000'
                      priceImpactFeeBps:
                        type: string
                        description: >-
                          The price impact fee bps for opening the position
                          based on the position size. For more info on how the
                          price impact fee calculation works:
                          https://www.jupresear.ch/t/jupiter-perpetuals-price-impact-fee-mechanism/17140
                        example: '100'
                      priceImpactFeeUsd:
                        type: string
                        description: >-
                          The price impact fee in USD for opening the position
                          based on the position size (raw value with 6 decimal
                          places). For more info:
                          https://www.jupresear.ch/t/jupiter-perpetuals-price-impact-fee-mechanism/17140
                        example: '13301'
                      side:
                        type: string
                        enum:
                          - long
                          - short
                        description: The position side
                        example: long
                      sizeUsdDelta:
                        type: string
                        description: >-
                          The change in position size in USD (raw value with 6
                          decimal places)
                        example: '1124450000'
                      sizeTokenDelta:
                        type: string
                        description: >-
                          The change in the position's size in the token amount
                          for the position's collateral token.
                        example: '14420000'
                    required:
                      - averagePriceUsd
                      - collateralUsdDelta
                      - leverage
                      - liquidationPriceUsd
                      - openFeeUsd
                      - outstandingBorrowFeeUsd
                      - positionCollateralUsd
                      - positionSizeUsd
                      - priceImpactFeeBps
                      - priceImpactFeeUsd
                      - side
                      - sizeUsdDelta
                      - sizeTokenDelta
                  serializedTxBase64:
                    type:
                      - string
                      - 'null'
                    description: >-
                      The serialized transaction (base64 encoded) containing the
                      instructions and given parameters for the limit order. The
                      transaction can be deserialized, signed by the owner of
                      `walletAddress` and submitted onchain to execute the
                      request
                  txMetadata:
                    type:
                      - object
                      - 'null'
                    properties:
                      blockhash:
                        type: string
                        description: >-
                          The blockhash used for the serialized transaction.
                          This blockhash must be used when submitting the signed
                          limit order transaction.
                      lastValidBlockHeight:
                        type: string
                        description: >-
                          The block height used for the serialized transaction.
                          This block height must be used when submitting the
                          signed limit order transaction.
                      transactionFeeLamports:
                        type: string
                        description: >-
                          The transaction fee in lamports (1 SOL = 1,000,000,000
                          lamports)
                        example: '5000'
                      accountRentLamports:
                        type: string
                        description: >-
                          The account rent in lamports for creating the position
                          request (1 SOL = 1,000,000,000 lamports)
                        example: '2039280'
                    required:
                      - blockhash
                      - lastValidBlockHeight
                      - transactionFeeLamports
                      - accountRentLamports
                    description: >-
                      Contains relevant metadata for the serialized transaction.
                      Null if no wallet address passed in.
                required:
                  - positionPubkey
                  - quote
                  - serializedTxBase64
                  - txMetadata
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '422':
          description: 422 Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '500':
          description: 500 Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
    patch:
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                positionRequestPubkey:
                  type: string
                  description: The public key for the limit order position request.
                triggerPrice:
                  type: string
                  description: >-
                    Trigger price at which the limit order will be executed (raw
                    value with 6 decimal places). For example, to set a trigger
                    price of $20, pass in 20000000.
                  example: '20000000'
              required:
                - positionRequestPubkey
                - triggerPrice
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  positionPubkey:
                    type:
                      - string
                      - 'null'
                    description: >-
                      The unique identifier (i.e. a program derived address) for
                      the position account. Use this address to find the
                      position account onchain.
                  positionRequestPubkey:
                    type:
                      - string
                      - 'null'
                    description: >-
                      The unique identifier (i.e. a program derived address) for
                      the position request. Use this address to find the
                      position request account onchain
                  quote:
                    type: object
                    properties:
                      averagePriceUsd:
                        type: string
                        description: >-
                          The average price for the position in USD (raw value
                          with 6 decimal places)
                        example: '10000000'
                      collateralUsdDelta:
                        type: string
                        description: >-
                          The change in collateral amount in USD (raw value with
                          6 decimal places)
                        example: '1124450000'
                      leverage:
                        type: string
                        description: The leverage amount for the position
                        example: '2.99'
                      liquidationPriceUsd:
                        type: string
                        description: >-
                          The liquidation price in USD (raw value with 6 decimal
                          places)
                        example: '13240000'
                      openFeeUsd:
                        type: string
                        description: >-
                          The total fee in USD for opening the position or
                          depositing collateral including base fees, borrowing
                          fees, and price impact fees (raw value with 6 decimal
                          places)
                        example: '100000'
                      outstandingBorrowFeeUsd:
                        type: string
                        description: >-
                          The outstanding borrow fees due / to be paid on
                          depositing collateral to the position (raw value with
                          6 decimal places)
                        example: '100000'
                      positionCollateralUsd:
                        type: string
                        description: >-
                          The total position collateral size in USD after the
                          increase (raw value with 6 decimal places)
                        example: '100000000'
                      positionSizeUsd:
                        type: string
                        description: >-
                          The total position size in USD including leverage
                          after the increase (raw value with 6 decimal places)
                        example: '10000000'
                      priceImpactFeeBps:
                        type: string
                        description: >-
                          The price impact fee bps for opening the position
                          based on the position size. For more info on how the
                          price impact fee calculation works:
                          https://www.jupresear.ch/t/jupiter-perpetuals-price-impact-fee-mechanism/17140
                        example: '100'
                      priceImpactFeeUsd:
                        type: string
                        description: >-
                          The price impact fee in USD for opening the position
                          based on the position size (raw value with 6 decimal
                          places). For more info:
                          https://www.jupresear.ch/t/jupiter-perpetuals-price-impact-fee-mechanism/17140
                        example: '13301'
                      side:
                        type: string
                        enum:
                          - long
                          - short
                        description: The position side
                        example: long
                      sizeUsdDelta:
                        type: string
                        description: >-
                          The change in position size in USD (raw value with 6
                          decimal places)
                        example: '1124450000'
                      sizeTokenDelta:
                        type: string
                        description: >-
                          The change in the position's size in the token amount
                          for the position's collateral token.
                        example: '14420000'
                    required:
                      - averagePriceUsd
                      - collateralUsdDelta
                      - leverage
                      - liquidationPriceUsd
                      - openFeeUsd
                      - outstandingBorrowFeeUsd
                      - positionCollateralUsd
                      - positionSizeUsd
                      - priceImpactFeeBps
                      - priceImpactFeeUsd
                      - side
                      - sizeUsdDelta
                      - sizeTokenDelta
                  serializedTxBase64:
                    type:
                      - string
                      - 'null'
                    description: >-
                      The serialized transaction (base64 encoded) containing the
                      instructions and given parameters for the update limit
                      order request. The transaction can be deserialized, signed
                      by the owner of `walletAddress` and submitted onchain to
                      execute the update limit order request
                  txMetadata:
                    type:
                      - object
                      - 'null'
                    properties:
                      blockhash:
                        type: string
                        description: >-
                          The blockhash used for the serialized transaction.
                          This blockhash must be used when submitting the signed
                          limit order transaction.
                      lastValidBlockHeight:
                        type: string
                        description: >-
                          The block height used for the serialized transaction.
                          This block height must be used when submitting the
                          signed limit order transaction.
                      transactionFeeLamports:
                        type: string
                        description: >-
                          The transaction fee in lamports (1 SOL = 1,000,000,000
                          lamports)
                        example: '5000'
                      accountRentLamports:
                        type: string
                        description: >-
                          The account rent in lamports for creating the position
                          request (1 SOL = 1,000,000,000 lamports)
                        example: '2039280'
                    required:
                      - blockhash
                      - lastValidBlockHeight
                      - transactionFeeLamports
                      - accountRentLamports
                    description: Contains relevant metadata for the serialized transaction.
                required:
                  - positionPubkey
                  - positionRequestPubkey
                  - quote
                  - serializedTxBase64
                  - txMetadata
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '422':
          description: 422 Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '500':
          description: 500 Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
  /positions:
    description: Fetches the open positions for the given wallet address
    get:
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: includeClosedPositions
          description: Set to true to return closed positions
          schema:
            type: boolean
            default: false
            description: Set to true to return closed positions
        - in: query
          name: walletAddress
          description: Public key for the wallet to fetch trades
          schema:
            type: string
            description: Public key for the wallet to fetch trades
          required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  dataList:
                    type: array
                    items:
                      type: object
                      properties:
                        asset:
                          type: string
                          enum:
                            - BTC
                            - ETH
                            - SOL
                          description: >-
                            The asset or market being traded against for the
                            position.
                          example: SOL
                        assetMint:
                          type: string
                          description: The mint address for the position asset.
                          example: So11111111111111111111111111111111111111112
                        collateralToken:
                          type: string
                          enum:
                            - BTC
                            - ETH
                            - SOL
                            - USDC
                            - USDT
                          description: >-
                            The token symbol for the collateral backing the
                            position.
                          example: SOL
                        collateralMint:
                          type: string
                          description: The mint address for the collateral token.
                          example: So11111111111111111111111111111111111111112
                        positionPubkey:
                          type: string
                          description: The public key / address for the position
                          example: 815wh1VLC8D7ZWMa3uB7GgjHFetANuML2dPrJiLV1nVF
                        side:
                          type: string
                          enum:
                            - long
                            - short
                          description: Side for the position
                        leverage:
                          type: string
                          description: Leverage amount for the position
                          example: '21.30'
                        sizeUsd:
                          type: string
                          description: >-
                            Raw USD value of the position's trade size
                            (including leverage)
                          example: '1234567800'
                        sizeTokenAmount:
                          type: string
                          description: >-
                            Raw token amount for the position's size scaled to
                            the custody token's mint decimals
                          example: '250000000'
                        collateralUsd:
                          type: string
                          description: Raw USD value of the position's collateral size
                          example: '250000000'
                        valueUsd:
                          type: string
                          description: >-
                            Raw USD value of the currently open position
                            including opening, closing, and borrowing fees
                            incurred
                          example: '120000000'
                        entryPriceUsd:
                          type: string
                          description: Raw USD value of the position's entry price
                          example: '123450000'
                        markPriceUsd:
                          type: string
                          description: Raw USD value of the position's mark price
                          example: '125000000'
                        liquidationPriceUsd:
                          type: string
                          description: Raw USD value of the position's liquidation price
                          example: '113450000'
                        openFeesUsd:
                          type: string
                          description: >-
                            Raw fee for opening the position in the integer
                            format corresponding to 6 decimal places (USD terms)
                          example: '100000'
                        closeFeesUsd:
                          type: string
                          description: >-
                            Raw fee for closing the position in the integer
                            format corresponding to 6 decimal places (USD terms)
                          example: '100000'
                        borrowFeesUsd:
                          type: string
                          description: >-
                            Raw outstanding borrow fees for the position in the
                            integer format corresponding to 6 decimal places
                            (USD terms)
                          example: '100000'
                        totalFeesUsd:
                          type: string
                          description: >-
                            Raw total fees for the position in the integer
                            format corresponding to 6 decimal places (USD terms)
                          example: '200000'
                        pnlBeforeFeesUsd:
                          type: string
                          description: >-
                            Raw value of the position's PNL before fees in the
                            integer format corresponding to 6 decimal places
                            (USD terms)
                          example: '1045000'
                        pnlBeforeFeesPct:
                          type: string
                          description: >-
                            The PNL change (%) from closing the position before
                            fees.
                          example: '20.24'
                        pnlAfterFeesUsd:
                          type: string
                          description: >-
                            Raw value of the position's PNL after fees in the
                            integer format corresponding to 6 decimal places
                            (USD terms)
                          example: '1045000'
                        pnlAfterFeesPct:
                          type: string
                          description: >-
                            The PNL change (%) from closing the position after
                            fees.
                          example: '-20.24'
                        createdTime:
                          type: number
                          description: UNIX timestamp of when the trade was created
                          example: 1722851463
                        updatedTime:
                          type: number
                          example: 1722851463
                        tpslRequests:
                          type: array
                          items:
                            type: object
                            properties:
                              positionRequestPubkey:
                                type: string
                                description: >-
                                  The public key / address for the TP / SL
                                  position request account
                              requestType:
                                type: string
                                enum:
                                  - tp
                                  - sl
                                description: >-
                                  Returns `tp` if it is a take profit request,
                                  `sl` if it is a stop loss request
                              desiredMint:
                                type: string
                                description: >-
                                  The mint address for the TP / SL position
                                  request account desired mint
                                example: So11111111111111111111111111111111111111112
                              desiredToken:
                                type: string
                                enum:
                                  - BTC
                                  - ETH
                                  - SOL
                                  - USDC
                                  - USDT
                                description: >-
                                  The token symbol for the TP / SL position
                                  request account desired mint
                                example: SOL
                              collateralUsdDelta:
                                type: string
                                description: >-
                                  Raw collateral delta (USD) for the TP / SL in
                                  the integer format corresponding to 6 decimal
                                  places
                                example: '1234000000'
                              entirePosition:
                                type: boolean
                                description: >-
                                  Whether the TP / SL request closes the entire
                                  position
                              sizeUsd:
                                type: string
                                description: >-
                                  Raw close size for the TP / SL in integer
                                  format corresponding to the 6 decimal places
                                  used by the USDC and USDT token mint
                                example: '1234000000'
                              sizePercentage:
                                type: string
                                description: >-
                                  The percentage / ratio TP / SL size to the
                                  position size
                                example: '12.34'
                              triggerPriceUsd:
                                type:
                                  - string
                                  - 'null'
                                description: >-
                                  Raw trigger price for the TP / SL request in
                                  integer format corresponding to the 6 decimals
                                  places used by the USDC and USDT token mint
                                example: '20000000'
                              openTime:
                                type: string
                                description: >-
                                  Unix timestamp of when the TP / SL request was
                                  created
                                example: '1722851463'
                            required:
                              - positionRequestPubkey
                              - requestType
                              - desiredMint
                              - desiredToken
                              - collateralUsdDelta
                              - entirePosition
                              - sizeUsd
                              - sizePercentage
                              - triggerPriceUsd
                              - openTime
                          description: The active TP / SL requests for the position
                      required:
                        - asset
                        - assetMint
                        - collateralToken
                        - collateralMint
                        - positionPubkey
                        - side
                        - leverage
                        - sizeUsd
                        - sizeTokenAmount
                        - collateralUsd
                        - valueUsd
                        - entryPriceUsd
                        - markPriceUsd
                        - liquidationPriceUsd
                        - openFeesUsd
                        - closeFeesUsd
                        - borrowFeesUsd
                        - totalFeesUsd
                        - pnlBeforeFeesUsd
                        - pnlBeforeFeesPct
                        - pnlAfterFeesUsd
                        - pnlAfterFeesPct
                        - createdTime
                        - updatedTime
                        - tpslRequests
                  count:
                    type: number
                required:
                  - dataList
                  - count
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '422':
          description: 422 Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '500':
          description: 500 Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
  /positions/close-all:
    description: >-
      Returns an array of serialized transactions to close all open positions
      for the given wallet address.
    post:
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                walletAddress:
                  type: string
                  description: >-
                    The wallet address / public key for the trader to close all
                    open positions
              required:
                - walletAddress
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  serializedTxs:
                    type: array
                    items:
                      type: object
                      properties:
                        serializedTxBase64:
                          type: string
                          description: >-
                            The serialized transaction (base64 encoded)
                            containing the instructions and given parameters for
                            the close position instruction. The transaction can
                            be deserialized, signed by the owner of
                            `walletAddress` and submitted onchain to close the
                            position.
                        positionRequestPubkey:
                          type: string
                          description: >-
                            The public key / address for the position request to
                            close the position.
                      required:
                        - serializedTxBase64
                        - positionRequestPubkey
                    description: >-
                      An array of base64-serialized transactions and the
                      `positionRequestPubkey` to close all positions.
                  txMetadata:
                    type: object
                    properties:
                      blockhash:
                        type: string
                        description: >-
                          The blockhash used for the serialized transaction.
                          This blockhash must be used when submitting the signed
                          close position transaction.
                      lastValidBlockHeight:
                        type: string
                        description: >-
                          The block height used for the serialized transaction.
                          This block height must be used when submitting the
                          signed close position transaction.
                    required:
                      - blockhash
                      - lastValidBlockHeight
                    description: >-
                      Contains blockhash metadata for the serialized transaction
                      to submit and confirm the transactions.
                required:
                  - serializedTxs
                  - txMetadata
                description: >-
                  An array of base64-serialized transactions and transaction
                  metadata to close all positions.
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '422':
          description: 422 Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '500':
          description: 500 Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
  /positions/collateral-limits:
    description: >-
      Returns the minimum and maximum token amounts for collateral deposits, as
      well as the maximum token amount for collateral withdrawals.
    get:
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: inputMint
          description: >-
            The mint address for the input token to deposit as collateral (e.g.
            'So11111111111111111111111111111111111111112' for 'SOL')
          schema:
            type: string
            description: >-
              The mint address for the input token to deposit as collateral
              (e.g. 'So11111111111111111111111111111111111111112' for 'SOL')
            example: So11111111111111111111111111111111111111112
          required: true
        - in: query
          name: positionPubkey
          description: >-
            The public key for the open position. Use the `GET positions`
            endpoint to fetch the public key for the trader's open positions.
          schema:
            type: string
            description: >-
              The public key for the open position. Use the `GET positions`
              endpoint to fetch the public key for the trader's open positions.
            example: 5HHB8sCKjWPU2zr3p4Lg49mQiaPQiHbCjHW7jgVzp583
          required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  maxCollateralDepositTokenAmount:
                    type: string
                    description: >-
                      The maximum token amount that can be deposited as
                      collateral for the given input mint token.
                  maxCollateralDepositUsd:
                    type: string
                    description: >-
                      The maximum amount (USD) that can be deposited as
                      collateral for the given input mint token. The value is an
                      integer corresponding to the 6 decimals places used by the
                      USDC and USDT token mint.
                  minCollateralDepositTokenAmount:
                    type: string
                    description: >-
                      The minimum token amount that can be deposited as
                      collateral for the given input mint token.
                  minCollateralDepositUsd:
                    type: string
                    description: >-
                      The minimum amount (USD) that can be deposited as
                      collateral for the given input mint token. The value is an
                      integer corresponding to the 6 decimals places used by the
                      USDC and USDT token mint.
                  maxCollateralWithdrawalTokenAmount:
                    type: string
                    description: >-
                      The maximum collateral token amount that can be withdrawed
                      from the open position.
                  maxCollateralWithdrawalUsd:
                    type: string
                    description: >-
                      The maximum collateral (USD) that can be withdrawed from
                      the open position. The value is an integer corresponding
                      to the 6 decimals places used by the USDC and USDT token
                      mint.
                  minCollateralWithdrawalTokenAmount:
                    type: string
                    description: >-
                      The minimum collateral token amount that can be withdrawed
                      from the open position.
                  minCollateralWithdrawalUsd:
                    type: string
                    description: >-
                      The minimum collateral (USD) that can be withdrawed from
                      the open position. The value is an integer corresponding
                      to the 6 decimals places used by the USDC and USDT token
                      mint.
                required:
                  - maxCollateralDepositTokenAmount
                  - maxCollateralDepositUsd
                  - minCollateralDepositTokenAmount
                  - minCollateralDepositUsd
                  - maxCollateralWithdrawalTokenAmount
                  - maxCollateralWithdrawalUsd
                  - minCollateralWithdrawalTokenAmount
                  - minCollateralWithdrawalUsd
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '422':
          description: 422 Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '500':
          description: 500 Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
  /positions/decrease:
    description: >-
      Uses the `decreasePositionParams` object from calling `GET
      /positions/decrease/quote` and returns a base64-serialized transaction for
      the request, the position request PDA, and the position PDA that acts as
      the unique identifier for the position.
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                collateralUsdDelta:
                  type:
                    - string
                    - 'null'
                  description: >-
                    The amount of collateral to withdraw in USD from the
                    position. Must be an integer representing the USD amount
                    multiplied by 10^6 (1 million) to align with the 6 decimal
                    places used for USDC/USDT tokens on-chain. For example, to
                    decrease by $10 USD, set 'collateralUsdDelta' to 10000000;
                    for $20.50 USD, set 'collateralUsdDelta' to 20500000.
                  example: '10000000'
                entirePosition:
                  type: boolean
                  default: false
                  description: >-
                    When set to `true`, this will close the position and
                    transfer the remaining collateral and realised profits (if
                    the position is profitable) to the trader.
                  example: false
                maxSlippageBps:
                  type: string
                  default: '200'
                  description: >-
                    The maximum slippage in (BPS) for the asset's price when
                    executing the trade
                  example: '100'
                positionPubkey:
                  type: string
                  description: >-
                    The public key for the open position. Use the `GET
                    positions` endpoint to fetch the public key for the trader's
                    open positions.
                  example: 5HHB8sCKjWPU2zr3p4Lg49mQiaPQiHbCjHW7jgVzp583
                priorityFeeMicroLamports:
                  type: string
                  description: >-
                    Custom priority fee in microlamports for the transaction
                    (1,000,000 microlamports = 1 lamport). If not set, the API
                    will automatically set the optimal priority fee
                receiveToken:
                  type: string
                  enum:
                    - BTC
                    - ETH
                    - SOL
                    - USDC
                  description: The token to receive.
                sizeUsdDelta:
                  type:
                    - string
                    - 'null'
                  description: >-
                    The amount in USD to decrease the position size by. Must be
                    an integer representing the USD amount multiplied by 10^6 (1
                    million) to align with the 6 decimal places used for
                    USDC/USDT tokens on-chain. For example, to decrease by $10
                    USD, set 'sizeUsdDelta' to 10000000; for $20.50 USD, set
                    'sizeUsdDelta' to 20500000.
                  example: '10000000'
              required:
                - positionPubkey
                - receiveToken
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  positionPubkey:
                    type: string
                    description: >-
                      The unique identifier (i.e. a program derived address) for
                      the position account. Use this address to find the
                      position account onchain.
                  quote:
                    type: object
                    properties:
                      closeFeeUsd:
                        type: string
                        description: >-
                          The base close fee for closing the position or
                          withdrawing collateral (raw value with 6 decimal
                          places)
                        example: '100000'
                      collateralUsdDelta:
                        type: string
                        description: >-
                          The change in collateral amount in USD (raw value with
                          6 decimal places)
                        example: '10000000'
                      leverage:
                        type: string
                        description: >-
                          The leverage amount for the position after the
                          decrease
                        example: '2.99'
                      liquidationPriceUsd:
                        type: string
                        description: >-
                          The liquidation price in USD (raw value with 6 decimal
                          places)
                        example: '13240000'
                      outstandingBorrowFeeUsd:
                        type: string
                        description: >-
                          The outstanding borrow fees due / to be paid on
                          closing the position (raw value with 6 decimal places)
                        example: '100000'
                      pnlAfterFeesUsd:
                        type: string
                        description: >-
                          The position PNL after fees (raw value with 6 decimal
                          places)
                        example: '1045000'
                      pnlAfterFeesPercent:
                        type: string
                        description: >-
                          The PNL change (%) from closing the position after
                          fees
                        example: '-20.24'
                      pnlBeforeFeesUsd:
                        type: string
                        description: >-
                          The position PNL before fees (raw value with 6 decimal
                          places)
                        example: '1045000'
                      pnlBeforeFeesPercent:
                        type: string
                        description: >-
                          The PNL change (%) from closing the position before
                          fees
                        example: '20.24'
                      positionCollateralUsd:
                        type: string
                        description: >-
                          The total position collateral size in USD after the
                          decrease (raw value with 6 decimal places)
                        example: '100000000'
                      positionSizeUsd:
                        type: string
                        description: >-
                          The total position size in USD including leverage
                          after the decrease (raw value with 6 decimal places)
                        example: '10000000'
                      priceImpactFeeBps:
                        type: string
                        description: >-
                          The price impact fee bps for closing the position
                          based on the position size. For more info on how the
                          price impact fee calculation works:
                          https://www.jupresear.ch/t/jupiter-perpetuals-price-impact-fee-mechanism/17140
                        example: '1.3301'
                      priceImpactFeeUsd:
                        type: string
                        description: >-
                          The price impact fee for closing the position based on
                          the position size (raw value with 6 decimal places).
                          For more info:
                          https://www.jupresear.ch/t/jupiter-perpetuals-price-impact-fee-mechanism/17140
                        example: '13301'
                      side:
                        type: string
                        enum:
                          - long
                          - short
                        description: The position side
                        example: long
                      sizeUsdDelta:
                        type: string
                        description: >-
                          The change in position size in USD (raw value with 6
                          decimal places)
                        example: '10000000'
                      totalFeeUsd:
                        type: string
                        description: >-
                          The total fee in USD for closing or withdrawing
                          collateral including base fees, borrowing fees, and
                          price impact fees (raw value with 6 decimal places)
                        example: '100000'
                      transferAmountToken:
                        type: string
                        description: >-
                          The collateral token amount to transfer to the owner
                          after withdrawing collateral or closing the position
                          (raw value)
                        example: '100000000'
                      transferAmountUsd:
                        type: string
                        description: >-
                          The collateral token amount in USD to transfer to the
                          owner (raw value with 6 decimal places)
                        example: '10000000'
                      transferTokenMint:
                        type: string
                        description: >-
                          The mint address for the token used to transfer the
                          collateral withdrawal or closing position amount
                        example: So11111111111111111111111111111111111111112
                    required:
                      - closeFeeUsd
                      - collateralUsdDelta
                      - leverage
                      - liquidationPriceUsd
                      - outstandingBorrowFeeUsd
                      - pnlAfterFeesUsd
                      - pnlAfterFeesPercent
                      - pnlBeforeFeesUsd
                      - pnlBeforeFeesPercent
                      - positionCollateralUsd
                      - positionSizeUsd
                      - priceImpactFeeBps
                      - priceImpactFeeUsd
                      - side
                      - sizeUsdDelta
                      - totalFeeUsd
                      - transferAmountToken
                      - transferAmountUsd
                      - transferTokenMint
                  serializedTxBase64:
                    type: string
                    description: >-
                      The serialized transaction (base64 encoded) containing the
                      instructions and given parameters for the decrease
                      position request. The transaction can be deserialized,
                      signed by the owner of `walletAddress` and submitted
                      onchain to execute the decrease position request
                  txMetadata:
                    type: object
                    properties:
                      blockhash:
                        type: string
                        description: >-
                          The blockhash used for the serialized transaction.
                          This blockhash must be used when submitting the signed
                          decrease position transaction.
                      lastValidBlockHeight:
                        type: string
                        description: >-
                          The block height used for the serialized transaction.
                          This block height must be used when submitting the
                          signed decrease position transaction.
                      transactionFeeLamports:
                        type: string
                        description: >-
                          The transaction fee in lamports (1 SOL = 1,000,000,000
                          lamports)
                        example: '5000'
                      accountRentLamports:
                        type: string
                        description: >-
                          The account rent in lamports for the transaction (1
                          SOL = 1,000,000,000 lamports)
                        example: '2039280'
                    required:
                      - blockhash
                      - lastValidBlockHeight
                      - transactionFeeLamports
                      - accountRentLamports
                    description: Contains relevant metadata for the serialized transaction.
                required:
                  - positionPubkey
                  - quote
                  - serializedTxBase64
                  - txMetadata
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '422':
          description: 422 Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '500':
          description: 500 Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
  /positions/increase:
    description: >-
      Uses the `increasePositionParams` object from calling `GET
      /positions/increase/quote` and returns a base64-serialized transaction for
      the request, the position request PDA, and the position PDA that acts as
      the unique identifier for the position.
    post:
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                asset:
                  type: string
                  enum:
                    - BTC
                    - ETH
                    - SOL
                  description: The asset or market to trade against
                  example: SOL
                inputToken:
                  type: string
                  enum:
                    - BTC
                    - ETH
                    - SOL
                    - USDC
                  description: >-
                    The token symbol for the input token used to fund the
                    position
                  example: SOL
                inputTokenAmount:
                  type: string
                  description: >-
                    The amount of tokens for the input token to open the
                    position or deposit collateral. NOTE: The token amount needs
                    to be an integer and must conform to the token mint decimals
                    specified onchain. For example, to deposit 1 SOL, the value
                    would be '1000000000' (9 decimals)
                  example: '1000000000'
                leverage:
                  type: string
                  description: >-
                    Leverage of the increase position, up to 1 decimal place.
                    Either provide 'leverage' or 'sizeUsdDelta' to open a trade.
                    Min leverage is '1.1'. Max leverage for SOL is 250.0
                  example: '11.5'
                maxSlippageBps:
                  type: string
                  description: >-
                    The maximum slippage in (BPS) for the asset's price when
                    executing trade
                  example: '100'
                priorityFeeMicroLamports:
                  type: string
                  description: >-
                    Custom priority fee in microlamports for the transaction
                    (1,000,000 microlamports = 1 lamport). If not set, the API
                    will automatically set the optimal priority fee
                side:
                  type: string
                  enum:
                    - long
                    - short
                  description: Side for the trade
                sizeUsdDelta:
                  type: string
                  description: >-
                    The amount in USD to increase the position size by. Must be
                    an integer representing the USD amount multiplied by 10^6 (1
                    million) to align with the 6 decimal places used for
                    USDC/USDT tokens on-chain. For example, to increase the
                    position size by $10 USD, set 'sizeUsdDelta' to 10000000;
                    for $0.50 USD, set 'sizeUsdDelta' to 500000. Either provide
                    'leverage' or 'sizeUsdDelta'.
                  example: '10000000'
                tpsl:
                  type:
                    - array
                    - 'null'
                  items:
                    type: object
                    properties:
                      receiveToken:
                        type: string
                        enum:
                          - BTC
                          - ETH
                          - SOL
                          - USDC
                        description: The token to receive when the TPSL is executed.
                      triggerPrice:
                        type: string
                        description: >-
                          Trigger price at which the TP / SL request will be
                          executed. The value must be an integer corresponding
                          to 6 decimal places. For example, to set a trigger
                          price of $20, pass in 20000000
                        example: '20000000'
                      requestType:
                        type: string
                        enum:
                          - tp
                          - sl
                        description: >-
                          Pass in `tp` to set a take profit request or `sl` to
                          set a stop loss request
                    required:
                      - receiveToken
                      - triggerPrice
                      - requestType
                  maxItems: 2
                  description: >-
                    TPSL requests to set. TPSL requests can only be set for
                    positions that 150x leverage or below. Only 2 TPSLs can be
                    set at a time.
                walletAddress:
                  type: string
                  description: >-
                    The wallet address / public key for the trader, Required
                    when opening a new position.
              required:
                - asset
                - inputToken
                - inputTokenAmount
                - maxSlippageBps
                - side
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  positionPubkey:
                    type:
                      - string
                      - 'null'
                    description: >-
                      The unique identifier (i.e. a program derived address) for
                      the position account. Use this address to find the
                      position account onchain.
                  quote:
                    type: object
                    properties:
                      averagePriceUsd:
                        type: string
                        description: >-
                          The average price for the position in USD (raw value
                          with 6 decimal places)
                        example: '10000000'
                      collateralUsdDelta:
                        type: string
                        description: >-
                          The change in collateral amount in USD (raw value with
                          6 decimal places)
                        example: '1124450000'
                      leverage:
                        type: string
                        description: The leverage amount for the position
                        example: '2.99'
                      liquidationPriceUsd:
                        type: string
                        description: >-
                          The liquidation price in USD (raw value with 6 decimal
                          places)
                        example: '13240000'
                      openFeeUsd:
                        type: string
                        description: >-
                          The total fee in USD for opening the position or
                          depositing collateral including base fees, borrowing
                          fees, and price impact fees (raw value with 6 decimal
                          places)
                        example: '100000'
                      outstandingBorrowFeeUsd:
                        type: string
                        description: >-
                          The outstanding borrow fees due / to be paid on
                          depositing collateral to the position (raw value with
                          6 decimal places)
                        example: '100000'
                      positionCollateralUsd:
                        type: string
                        description: >-
                          The total position collateral size in USD after the
                          increase (raw value with 6 decimal places)
                        example: '100000000'
                      positionSizeUsd:
                        type: string
                        description: >-
                          The total position size in USD including leverage
                          after the increase (raw value with 6 decimal places)
                        example: '10000000'
                      priceImpactFeeBps:
                        type: string
                        description: >-
                          The price impact fee bps for opening the position
                          based on the position size. For more info on how the
                          price impact fee calculation works:
                          https://www.jupresear.ch/t/jupiter-perpetuals-price-impact-fee-mechanism/17140
                        example: '100'
                      priceImpactFeeUsd:
                        type: string
                        description: >-
                          The price impact fee in USD for opening the position
                          based on the position size (raw value with 6 decimal
                          places). For more info:
                          https://www.jupresear.ch/t/jupiter-perpetuals-price-impact-fee-mechanism/17140
                        example: '13301'
                      side:
                        type: string
                        enum:
                          - long
                          - short
                        description: The position side
                        example: long
                      sizeUsdDelta:
                        type: string
                        description: >-
                          The change in position size in USD (raw value with 6
                          decimal places)
                        example: '1124450000'
                      sizeTokenDelta:
                        type: string
                        description: >-
                          The change in the position's size in the token amount
                          for the position's collateral token.
                        example: '14420000'
                    required:
                      - averagePriceUsd
                      - collateralUsdDelta
                      - leverage
                      - liquidationPriceUsd
                      - openFeeUsd
                      - outstandingBorrowFeeUsd
                      - positionCollateralUsd
                      - positionSizeUsd
                      - priceImpactFeeBps
                      - priceImpactFeeUsd
                      - side
                      - sizeUsdDelta
                      - sizeTokenDelta
                  serializedTxBase64:
                    type:
                      - string
                      - 'null'
                    description: >-
                      The serialized transaction (base64 encoded) containing the
                      instructions and given parameters for the increase
                      position request. The transaction can be deserialized,
                      signed by the owner of `walletAddress` and submitted
                      onchain to execute the increase position request
                  tpsl:
                    type: array
                    items:
                      type: object
                      properties:
                        hasProfit:
                          type: boolean
                          description: Whether the TPSL request is profitable
                        pnlUsd:
                          type: string
                          description: The estimated PNL (USD) delta for the TPSL request
                        pnlPercent:
                          type: string
                          description: The estimated PNL percentage for the TPSL request
                        pubkey:
                          type: string
                          description: >-
                            The pubkey for the TPSL. Use this address to find
                            the TPSL account onchain
                        requestType:
                          type: string
                          enum:
                            - tp
                            - sl
                          description: The type of TPSL request
                      required:
                        - hasProfit
                        - pnlUsd
                        - pnlPercent
                        - pubkey
                        - requestType
                    description: TPSL requests created with the increase position
                  txMetadata:
                    type:
                      - object
                      - 'null'
                    properties:
                      blockhash:
                        type: string
                        description: >-
                          The blockhash used for the serialized transaction.
                          This blockhash must be used when submitting the signed
                          increase position transaction.
                      lastValidBlockHeight:
                        type: string
                        description: >-
                          The block height used for the serialized transaction.
                          This block height must be used when submitting the
                          signed increase position transaction.
                      transactionFeeLamports:
                        type: string
                        description: >-
                          The transaction fee in lamports (1 SOL = 1,000,000,000
                          lamports)
                        example: '5000'
                      accountRentLamports:
                        type: string
                        description: >-
                          The account rent in lamports for creating the position
                          account (1 SOL = 1,000,000,000 lamports)
                        example: '2039280'
                    required:
                      - blockhash
                      - lastValidBlockHeight
                      - transactionFeeLamports
                      - accountRentLamports
                    description: >-
                      Contains relevant metadata for the serialized transaction.
                      Null if no wallet address passed in.
                required:
                  - positionPubkey
                  - quote
                  - serializedTxBase64
                  - tpsl
                  - txMetadata
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '422':
          description: 422 Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '500':
          description: 500 Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
  /pool-info:
    description: Fetches the perpetuals base pool config info for the given market
    get:
      security:
        - ApiKeyAuth: []
      parameters:
        - in: query
          name: mint
          description: The token mint address for the perpetuals market
          schema:
            type: string
            enum:
              - So11111111111111111111111111111111111111112
              - 7vfCXTUXx5WJV5JADk17DUJ4ksgau7utNKj4b963voxs
              - 3NZ9JMVBmGAqocybic2c7LQCJScmgsAZ6vQqTDzcqmJh
            description: The token mint address for the perpetuals market
          required: true
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  longAvailableLiquidity:
                    type: string
                    description: >-
                      USD value of the available liquidity for long positions
                      for the market
                    example: '2500000'
                  longBorrowRatePercent:
                    type: string
                    description: >-
                      Base borrow rate (%) for long positions. More info on how
                      the borrow rate is calculated here:
                      https://station.jup.ag/guides/perpetual-exchange/how-it-works#hourly-borrow-rate
                    example: '0.0026'
                  longUtilizationPercent:
                    type: string
                    description: Utilization rate (%) for long positions
                    example: '26.00'
                  shortAvailableLiquidity:
                    type: string
                    description: >-
                      USD value of the available liquidity for short positions
                      for the market
                    example: '2500000'
                  shortBorrowRatePercent:
                    type: string
                    description: >-
                      Base borrow rate (%) for short positions. More info on how
                      the borrow rate is calculated here:
                      https://station.jup.ag/guides/perpetual-exchange/how-it-works#hourly-borrow-rate
                    example: '0.0026'
                  shortUtilizationPercent:
                    type: string
                    description: Utilization rate (%) for short positions
                    example: '26.00'
                  openFeePercent:
                    type: string
                    description: Base open fee (%) for the market
                    example: '0.06'
                  maxRequestExecutionSec:
                    type: string
                    description: >-
                      The maximum duration that a position request can be active
                      (in seconds) before it is considered invalid.
                  maxPriceImpactFeePercent:
                    type: string
                    description: The maximum price impact fee (%)
                required:
                  - longAvailableLiquidity
                  - longBorrowRatePercent
                  - longUtilizationPercent
                  - shortAvailableLiquidity
                  - shortBorrowRatePercent
                  - shortUtilizationPercent
                  - openFeePercent
                  - maxRequestExecutionSec
                  - maxPriceImpactFeePercent
        '400':
          description: 400 Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '404':
          description: 404 Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '422':
          description: 422 Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
        '500':
          description: 500 Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorSchema'
  /jlp-info:
    description: Fetches the JLP token info
    get:
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  aumUsd:
                    type: string
                    description: Total AUM in USD (raw value)
                    example: '123456789000000'
                  aumUsdFormatted:
                    type: string
                    description: Total AUM in USD (formatted)
                    example: '123,456.79'
                  aumLimitUsd:
                    type: string
                    description: AUM limit in USD (raw value)
                    example: '500000000000000'
                  aumLimitUsdFormatted:
                    type: string
                    description: AUM limit in USD (formatted)
                    example: '500,000'
                  jlpPriceUsd:
                    type: string
                    description: JLP price in USD (raw value)
                    example: '1234567'
                  jlpPriceUsdFormatted:
                    type: string
                    description: JLP price in USD (formatted)
                    example: '1.2346'
                  jlpTotalSupply:
                    type: string
                    description: Total JLP token supply
                    example: '100000000000'
                  jlpTotalSupplyFormatted:
                    type: string
                    description: Total JLP token supply (formatted)
                    example: '100,000'
                  jlpAprBps:
                    type: string
                    description: JLP APR in BPS
                    example: '100'
                  jlpAprPct:
                    type: string
                    description: JLP APR in percentage
                    example: '10.00'
                  jlpApyBps:
                    type: string
                    description: JLP APY in BPS
                    example: '100'
                  jlpApyPct:
                    type: string
                    description: JLP APY in percentage
                    example: '10.00'
                  jlpAprLastUpdatedTimestamp:
                    type: string
                    description: JLP APR last updated UNIX timestamp
                    example: '1715404800'
                  jlpRealizedFeeUsd:
                    type: string
                    description: >-
[...]
