openapi: 3.0.3
info:
  title: Quickstart
  version: 1.0.0

servers:
  - url: https://lite-api.jup.ag/lend/v1
    description: Free tier API endpoint with rate limits
  - url: https://api.jup.ag/lend/v1
    description: Paid tier API endpoint with higher rate limits to be used with an API Key

paths:
  /earn/deposit:
    post:
      summary: earn-deposit
      description: |
        Request for a base64-encoded unsigned earn deposit transaction based on parameters
        
        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'

  /earn/deposit-instruction:
    post:
      summary: earn-deposit-instruction
      description: |
        Request for the instruction of an earn deposit transaction based on parameters
        
        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructionResponse'

  /earn/withdraw:
    post:
      summary: earn-withdraw
      description: |
        Request for a base64-encoded unsigned earn withdraw transaction based on parameters
        
        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'

  /earn/withdraw-instruction:
    post:
      summary: earn-withdraw-instruction
      description: |
        Request for the instruction of an earn withdraw transaction based on parameters
        
        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructionResponse'

  /earn/stats:
    get: 
      summary: earn-stats
      description: |
        Request for the stats of all vaults combined

        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - totalDeposits
                  - totalWithdraws
                  - totalAssets
                  - earnings
                properties:
                  totalDeposits:
                    type: string
                  totalWithdraws:
                    type: string
                  totalAssets:
                    type: string
                  earnings:
                    type: string

  /earn/vaults:
    get:
      summary: earn-vaults
      description: |
        Request for the vaults available to be deposited and their information

        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultsResponse'

  /earn/positions:
    get: 
      summary: earn-user-positions
      description: |
        Request for the position data of one or multiple users

        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      parameters:
        - name: users
          in: query
          description: "User wallet address"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPositionsResponse'

  /earn/earnings:
    get: 
      summary: earn-user-earnings
      description: |
        Request for the earnings of one or multiple positions of a user

        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      parameters:
        - name: user
          in: query
          description: "User wallet address"
          required: true
          schema:
            type: string
        - name: positions
          in: query
          description: "User vault position"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEarningsResponse'

  /earn/transactions:
    get: 
      summary: earn-user-transactions
      description: |
        Request for the transactions made by a user

        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      parameters:
        - name: user
          in: query
          description: "User wallet address"
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: "Pagination (e.g. `?page=10`)"
          required: false
          schema:
            type: integer

      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserTransactionsResponse'


components:
  schemas:
    EarnRequestBody:
      type: object
      required:
        - asset
        - signer
        - amount
      properties:
        asset:
          type: string
        signer:
          type: string
        amount:
          type: string

    TransactionResponse:
      type: object
      required:
        - transaction
      properties:
        transaction:
          type: string

    InstructionResponse:
      type: object
      required:
        - programId
        - accounts
        - data
      properties:
        programId:
          type: string
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/AccountMeta'
        data:
          type: string

    AccountMeta:
      type: object
      required:
        - pubkey
        - isSigner
        - isWritable
      properties:
        pubkey:
          type: string
        isSigner:
          type: boolean
        isWritable:
          type: boolean

    VaultsResponse:
      type: array
      items:
        $ref: '#/components/schemas/VaultInfo'

    UserPositionsResponse:
      type: array
      items:
        $ref: '#/components/schemas/UserPosition'

    UserEarningsResponse:
      type: object
      required:
        - totalDeposits
        - totalWithdraws
        - totalBalance
        - totalAssets
        - earnings
      properties:
        totalDeposits: 
          type: string
        totalWithdraws:
          type: string
        totalBalance: 
          type: string
        totalAssets:
          type: string
        earnings:
          type: string

    UserPosition:
      type: object
      required:
        - vault
        - ownerAddress
        - shares
        - underlyingAssets
        - underlyingBalance
        - allowance
      properties:
        vault:
          $ref: '#/components/schemas/VaultInfo'
        ownerAddress:
          type: string
        shares:
          type: string
        underlyingAssets:
          type: string
        underlyingBalance:
          type: string
        allowance:
          type: string

    VaultInfo:
      type: object
      required:
        - id
        - address
        - name
        - symbol
        - decimals
        - assetAddress
        - asset
        - totalAssets
        - totalSupply
        - convertToShares
        - convertToAssets
        - earningsRate
        - supplyRate
        - totalRate
        - rebalanceDifference
        - liquiditySupplyData
      properties:
        id:
          type: integer
          description: Unique identifier for the vault
        address:
          type: string
          description: Address of the vault
        name:
          type: string
        symbol:
          type: string
        decimals:
          type: integer
        assetAddress:
          type: string
          description: Address of the underlying asset
        asset:
          $ref: '#/components/schemas/AssetInfo'
        totalAssets:
          type: string
        totalSupply:
          type: string
        convertToShares:
          type: string
        convertToAssets:
          type: string
        earningsRate:
          type: string
          description: APR of the vault
        supplyRate:
          type: string
        totalRate:
          type: string
        rebalanceDifference:
          type: string
        liquiditySupplyData:
          $ref: '#/components/schemas/LiquiditySupplyData'

    AssetInfo:
      type: object
      required:
        - address
        - chain_id
        - name
        - symbol
        - decimals
        - logo_url
        - price
        - coingecko_id
      properties:
        address:
          type: string
        chain_id:
          type: string
        name:
          type: string
        symbol:
          type: string
        decimals:
          type: integer
        logo_url:
          type: string
          format: uri
        price:
          type: string
        coingecko_id:
          type: string

    LiquiditySupplyData:
      type: object
      required:
        - modeWithInterest
        - supply
        - withdrawalLimit
        - lastUpdateTimestamp
        - expandPercent
        - expandDuration
        - baseWithdrawalLimit
        - withdrawableUntilLimit
        - withdrawable
      properties:
        modeWithInterest:
          type: boolean
          # description: Whether the mode includes interest
        supply:
          type: string
          # description: Current supply
        withdrawalLimit:
          type: string
          # description: Withdrawal limit
        lastUpdateTimestamp:
          type: string
          # description: Last update timestamp
        expandPercent:
          type: string
          # description: Expand percentage
        expandDuration:
          type: string
          # description: Expand duration
        baseWithdrawalLimit:
          type: string
          # description: Base withdrawal limit
        withdrawableUntilLimit:
          type: string
          # description: Withdrawable amount until limit
        withdrawable:
          type: string
          # description: Currently withdrawable amount

    UserTransactionsResponse:
      type: object
      required:
        - meta
        - data
      properties:
        meta:
          type: object
          required:
            - total
            - perPage
            - currentPage
            - lastPage
            - firstPage
            - firstPageUrl
            - lastPageUrl
            - nextPageUrl
            - previousPageUrl
          properties:
            total:
              type: integer
            perPage:
              type: integer
            currentPage:
              type: integer
            lastPage:
              type: integer
            firstPage:
              type: integer
            firstPageUrl:
              type: string
            lastPageUrl:
              type: string
            nextPageUrl:
              type: string
              nullable: true
            previousPageUrl:
              type: string
              nullable: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/TransactionData'

    TransactionData:
      type: object
      required:
        - id
        - type
        - signature
        - slot
        - from
        - to
        - ftoken
        - asset
        - assetAmount
        - createdAt
        - updatedAt
      properties:
        id:
          type: integer
          description: Unique transaction identifier
        type:
          type: string
          description: Type of transaction (e.g., deposit, withdraw)
        signature:
          type: string
        slot:
          type: integer
        from:
          type: string
          description: Source address
        to:
          type: string
          description: Destination address
        ftoken:
          type: string
          description: FToken address
        asset:
          type: string
          description: Asset address (e.g. WSOL token address)
        assetAmount:
          type: string
          description: Asset amount in atomic value (before applying decimals)
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        