openapi: 3.0.3
info:
  title: Quickstart
  version: 1.0.0

servers:
  - url: https://lite-api.jup.ag/lend/v1
    description: Free tier API endpoint with rate limits
  - url: https://api.jup.ag/lend/v1
    description: Paid tier API endpoint with higher rate limits to be used with an API Key

paths:
  /earning/deposit:
    post:
      summary: earning-deposit
      description: |
        Request for a base64-encoded unsigned earning deposit transaction based on parameters
        
        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      parameters:
        - name: cluster
          in: query
          description: "Solana cluster"
          required: false # what is the default?
          schema:
            type: string
            enum:
              - mainnet
              - devnet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'

  /earning/deposit-instruction:
    post:
      summary: earning-deposit-instruction
      description: |
        Request for the instruction of a earning deposit transaction based on parameters
        
        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      parameters:
        - name: cluster
          in: query
          description: "Solana cluster"
          required: false # what is the default?
          schema:
            type: string
            enum:
              - mainnet
              - devnet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructionResponse'

  /earning/withdraw:
    post:
      summary: earning-withdraw
      description: |
        Request for a base64-encoded unsigned earning withdraw transaction based on parameters
        
        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      parameters:
        - name: cluster
          in: query
          description: "Solana cluster"
          required: false # what is the default?
          schema:
            type: string
            enum:
              - mainnet
              - devnet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'

  /earning/withdraw-instruction:
    post:
      summary: earning-withdraw-instruction
      description: |
        Request for the instruction of a earning deposit transaction based on parameters
        
        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      parameters:
        - name: cluster
          in: query
          description: "Solana cluster"
          required: false # what is the default?
          schema:
            type: string
            enum:
              - mainnet
              - devnet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructionResponse'



components:
  schemas:
    EarnRequestBody:
      type: object
      required:
        - asset
        - signer
        - amount
      properties:
        asset:
          type: string
        signer:
          type: string
        amount:
          type: string

    TransactionResponse:
      type: object
      required:
        - transaction
      properties:
        transaction:
          type: string

    InstructionResponse:
      type: object
      required:
        - programId
        - accounts
        - data
      properties:
        programId:
          type: string
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/AccountMeta'
        data:
          type: string

    AccountMeta:
      type: object
      required:
        - pubkey
        - isSigner
        - isWritable
      properties:
        pubkey:
          type: string
        isSigner:
          type: boolean
        isWritable:
          type: boolean



