openapi: 3.0.3
info:
  title: Quickstart
  version: 1.0.0

servers:
  - url: https://lite-api.jup.ag/lend/v1
    description: Free tier API endpoint with rate limits
  - url: https://api.jup.ag/lend/v1
    description: Paid tier API endpoint with higher rate limits to be used with an API Key

paths:
  /earn/deposit:
    post:
      summary: earn-deposit
      description: |
        Request for a base64-encoded unsigned earn deposit transaction to deposit assets
        
        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnAmountRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'

  /earn/deposit-instructions:
    post:
      summary: earn-deposit-instructions
      description: |
        Request for the instruction of an earn deposit transaction to deposit assets
        
        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnAmountRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructionResponse'

  /earn/withdraw:
    post:
      summary: earn-withdraw
      description: |
        Request for a base64-encoded unsigned earn withdraw transaction to withdraw assets
        
        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnAmountRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'

  /earn/withdraw-instructions:
    post:
      summary: earn-withdraw-instructions
      description: |
        Request for the instruction of an earn withdraw transaction to withdraw assets
        
        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnAmountRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructionResponse'

  /earn/mint:
    post:
      summary: earn-mint
      description: |
        Request for a base64-encoded unsigned earn mint transaction to mint shares
        
        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnSharesRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'

  /earn/mint-instructions:
    post:
      summary: earn-mint-instructions
      description: |
        Request for the instruction of an earn mint transaction to mint shares
        
        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnSharesRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructionResponse'

  /earn/redeem:
    post:
      summary: earn-redeem
      description: |
        Request for a base64-encoded unsigned earn redeem transaction to redeem shares
        
        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnSharesRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'

  /earn/redeem-instructions:
    post:
      summary: earn-redeem-instructions
      description: |
        Request for the instruction of an earn redeem transaction to redeem shares
        
        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnSharesRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructionResponse'

  /earn/stats:
    get: 
      summary: earn-stats
      description: |
        Request for the stats of all tokens combined

        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - totalDeposits
                  - totalWithdraws
                  - totalAssets
                  - earnings
                properties:
                  totalDeposits:
                    type: string
                  totalWithdraws:
                    type: string
                  totalAssets:
                    type: string
                  earnings:
                    type: string

  /earn/tokens:
    get:
      summary: earn-tokens
      description: |
        Request for the tokens available to be deposited and their information

        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokensResponse'

  /earn/positions:
    get: 
      summary: earn-user-positions
      description: |
        Request for the position data of one or multiple users

        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      parameters:
        - name: users
          in: query
          description: "User wallet address"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserPositionsResponse'

  /earn/earnings:
    get: 
      summary: earn-user-earnings
      description: |
        Request for the earnings of one or multiple positions of a user

        :::note
        Refer to [Lend API doc](/docs/lend-api) for more information
        :::
      parameters:
        - name: user
          in: query
          description: "User wallet address"
          required: true
          schema:
            type: string
        - name: positions
          in: query
          description: "User token position"
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEarningsResponse'


components:
  schemas:
    EarnAmountRequestBody:
      type: object
      required:
        - asset
        - signer
        - amount
      properties:
        asset:
          type: string
        signer:
          type: string
        amount:
          type: string

    EarnSharesRequestBody:
      type: object
      required:
        - asset
        - signer
        - shares
      properties:
        asset:
          type: string
        signer:
          type: string
        shares:
          type: string

    TransactionResponse:
      type: object
      required:
        - transaction
      properties:
        transaction:
          type: string

    InstructionResponse:
      type: object
      required:
        - programId
        - accounts
        - data
      properties:
        programId:
          type: string
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/AccountMeta'
        data:
          type: string

    AccountMeta:
      type: object
      required:
        - pubkey
        - isSigner
        - isWritable
      properties:
        pubkey:
          type: string
        isSigner:
          type: boolean
        isWritable:
          type: boolean

    TokensResponse:
      type: array
      items:
        $ref: '#/components/schemas/TokenInfo'

    UserPositionsResponse:
      type: array
      items:
        $ref: '#/components/schemas/UserPosition'

    UserEarningsResponse:
      type: object
      required:
        - totalDeposits
        - totalWithdraws
        - totalBalance
        - totalAssets
        - earnings
      properties:
        totalDeposits: 
          type: string
        totalWithdraws:
          type: string
        totalBalance: 
          type: string
        totalAssets:
          type: string
        earnings:
          type: string

    UserPosition:
      type: object
      required:
        - token
        - ownerAddress
        - shares
        - underlyingAssets
        - underlyingBalance
        - allowance
      properties:
        token:
          $ref: '#/components/schemas/TokenInfo'
        ownerAddress:
          type: string
        shares:
          type: string
        underlyingAssets:
          type: string
        underlyingBalance:
          type: string
        allowance:
          type: string

    TokenInfo:
      type: object
      required:
        - id
        - address
        - name
        - symbol
        - decimals
        - assetAddress
        - asset
        - totalAssets
        - totalSupply
        - convertToShares
        - convertToAssets
        - rewardsRate
        - supplyRate
        - totalRate
        - rebalanceDifference
        - liquiditySupplyData
      properties:
        id:
          type: integer
        address:
          type: string
        name:
          type: string
        symbol:
          type: string
        decimals:
          type: integer
        assetAddress:
          type: string
        asset:
          $ref: '#/components/schemas/AssetInfo'
        totalAssets:
          type: string
        totalSupply:
          type: string
        convertToShares:
          type: string
        convertToAssets:
          type: string
        rewardsRate:
          type: string
        supplyRate:
          type: string
        totalRate:
          type: string
        rebalanceDifference:
          type: string
        liquiditySupplyData:
          $ref: '#/components/schemas/LiquiditySupplyData'

    AssetInfo:
      type: object
      required:
        - address
        - chain_id
        - name
        - symbol
        - decimals
        - logo_url
        - price
        - coingecko_id
      properties:
        address:
          type: string
        chain_id:
          type: string
        name:
          type: string
        symbol:
          type: string
        decimals:
          type: integer
        logo_url:
          type: string
          format: uri
        price:
          type: string
        coingecko_id:
          type: string

    LiquiditySupplyData:
      type: object
      required:
        - modeWithInterest
        - supply
        - withdrawalLimit
        - lastUpdateTimestamp
        - expandPercent
        - expandDuration
        - baseWithdrawalLimit
        - withdrawableUntilLimit
        - withdrawable
      properties:
        modeWithInterest:
          type: boolean
        supply:
          type: string
        withdrawalLimit:
          type: string
        lastUpdateTimestamp:
          type: string
        expandPercent:
          type: string
        expandDuration:
          type: string
        baseWithdrawalLimit:
          type: string
        withdrawableUntilLimit:
          type: string
        withdrawable:
          type: string
