openapi: 3.0.3
info:
  title: Quickstart
  version: 3.0.0
  description: |
    | Link |
    | --- |
    | [V3](/docs/price-api/v3) |
    | [V2 (Deprecated)](/docs/price-api/v2) |

servers:
  - url: https://lite-api.jup.ag/price/v3
    description: Free tier API endpoint with rate limits
  - url: https://api.jup.ag/price/v3
    description: Paid tier API endpoint with higher rate limits to be used with an API Key

paths:
  "":
    get:
      summary: price
      description: |
        Returns prices of specified tokens.

        :::note
        - Refer to [Price API doc](/docs/price-api) for more information.
        :::
      parameters:
      - name: ids
        in: query
        description: "Comma separate to pass in multiple"
        required: true
        schema:
          type: string
        example: 'So11111111111111111111111111111111111111112,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  description: Token addresses as keys
                  type: object
                  properties:
                    blockId:
                      type: integer
                    decimals:
                      type: integer
                    usdPrice:
                      type: number
                      format: float
        '400':
          description: Bad request
        '500':
          description: Internal server error
