openapi: 3.0.3
info:
  title: Quickstart
  version: 2.0.0
  description: |
    | Link |
    | --- |

servers:
  - url: https://lite-api.jup.ag/studio/v1
    description: Free tier API endpoint with rate limits
  - url: https://api.jup.ag/studio/v1
    description: Paid tier API endpoint with higher rate limits to be used with an API Key

paths:
  /dbc-pool/create-tx:
    post:
      summary: dbc-pool-create-tx
      description: |
        Request for a base64-encoded unsigned transaction to create a Dynamic Bonding Curve pool with token metadata
        
        :::note
        Refer to [Studio API doc](/docs/studio-api) for more information
        :::
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDBCTransactionRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDBCTransactionResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                  error:
                    type: string
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  details:
                    type: string

  /dbc-pool/submit:
    post:
      summary: dbc-pool-submit
      description: |
        Execute the signed transaction, and optionally upload content and header image
        
        :::note
        Refer to [Studio API doc](/docs/studio-api) for more information
        :::
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SubmitDBCTransactionRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      mint:
                        type: string
                      configKey:
                        type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                  error:
                    type: string
        '500':
          description: Internal server error

  /dbc/fee:
    post:
      summary: dbc-fee
      description: |
        Request for unclaimed creator trading fees of a Dynamic Bonding Curve pool
        
        :::note
        Refer to [Studio API doc](/docs/studio-api) for more information
        :::
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - poolAddress
              properties:
                poolAddress:
                  type: string
                  description: |
                    - Dynamic Bonding Curve pool address
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - unclaimed
                  - total
                properties:
                  unclaimed:
                    type: string
                    description: |
                      - Unclaimed creator quote fee amount
                  total:
                    type: string
                    description: |
                      - Total trading quote fee amount divided by 2 (creator share)

        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '500':
          description: Internal server error

  /dbc/fee/create-tx:
    post:
      summary: dbc-fee-create-tx
      description: |
        Request for a base64-encoded unsigned transaction to claim creator trading fees of a Dynamic Bonding Curve pool
        - Handles both direct creator ownership and proxy-based ownership.
        
        :::note
        Refer to [Studio API doc](/docs/studio-api) for more information
        :::
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateClaimFeeDBCTransactionRequestBody'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - transaction
                properties:
                  transaction:
                    type: string
                    description: Base64-encoded transaction ready for signing
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        type: string
        '403':
          description: Not authorized to claim fees from this pool
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: You are not the owner of this pool
        '404':
          description: Proxy account not found for the creator
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Proxy account not found for the creator
        '500':
          description: Internal server error


components:
  schemas:
    CreateDBCTransactionRequestBody:
      type: object
      required:
        - buildCurveByMarketCapParam
        - antiSniping
        - tokenName
        - tokenSymbol
        - tokenImageContentType
        - creator
      properties:
        buildCurveByMarketCapParam:
          type: object
          required:
            - quoteMint
            - initialMarketCap
            - migrationMarketCap
            - tokenQuoteDecimal
            - lockedVestingParam
          properties:
            quoteMint:
              type: string
              description: |
                - Quote mint address
                - Either USDC, SOL, or JUP
              example: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
            initialMarketCap:
              type: number
              description: |
                - Initial market cap in quote token units
                - 16000 passed in = 100 USDC/SOL/JUP initial market cap
              example: 16000
            migrationMarketCap:
              type: number
              description: |
                - Migration market cap in quote token units
                - 69000 passed in = 69000 USDC/SOL/JUP migration market cap
              example: 69000
            tokenQuoteDecimal:
              type: number
              enum:
                - 6
                - 9
              description: |
                - Token quote decimal places
            lockedVestingParam:
              type: object
              required:
                - totalLockedVestingAmount
                - cliffUnlockAmount
                - numberOfVestingPeriod
                - totalVestingDuration
                - cliffDurationFromMigrationTime
              properties:
                totalLockedVestingAmount:
                  type: number
                  description: |
                    - Total locked vesting amount of tokens (0% to 80% of total supply)
                  example: 100000000
                cliffUnlockAmount:
                  type: number
                  description: |
                    - Amount of tokens unlocked at cliff
                  example: 20000000
                numberOfVestingPeriod:
                  type: number
                  description: |
                    - Number of vesting periods in months
                  example: 12
                totalVestingDuration:
                  type: number
                  description: |
                    - Total vesting duration in seconds
                  example: 31536000
                cliffDurationFromMigrationTime:
                  type: number
                  description: |
                    - Cliff duration from migration time in seconds
                  example: 2592000
        antiSniping:
          type: boolean
          description: |
            - Enable anti-sniping protection
            - Apply an additional swap fee immediately after launch to discourage bots
            - Starts at 99% and decreases 1% linearly over a randomized period
        isLpLocked:
          type: boolean
          description: |
            - Whether LP tokens should be locked
            - If enabled, 50% of graduated LP unlocks after 1 year
            - Useful for creators to strategize in the long term
          default: true
        tokenName:
          type: string
          minLength: 1
        tokenSymbol:
          type: string
          minLength: 1
        tokenImageContentType:
          type: string
          description: |
            - Token image content type
          enum:
            - image/jpeg
            - image/png
            - image/gif
            - image/webp
        creator:
          type: string
          description: |
            - Creator wallet public key

    CreateDBCTransactionResponse:
      type: object
      required:
        - transaction
        - mint
        - imagePresignedUrl
        - metadataPresignedUrl
        - imageUrl
      properties:
        transaction:
          type: string
          description: Base64-encoded transaction ready for signing
        mint:
          type: string
          description: Generated token mint address
        imagePresignedUrl:
          type: string
          format: uri
          description: Presigned URL for image upload
        metadataPresignedUrl:
          type: string
          format: uri
          description: Presigned URL for metadata upload
        imageUrl:
          type: string
          format: uri
          description: Final image URL

    SubmitDBCTransactionRequestBody:
      type: object
      required:
        - transaction
        - owner
      properties:
        transaction:
          type: string
          description: |
            - Base64-encoded signed transaction
        owner:
          type: string
          description: |
            - Owner wallet public key
        content:
          type: string
          description: |
            - Optional content description
          nullable: true
        headerImage:
          type: string
          format: binary
          description: |
            - Optional header image file

    CreateClaimFeeDBCTransactionRequestBody:
      type: object
      required:
        - ownerWallet
        - poolAddress
        - maxQuoteAmount
      properties:
        ownerWallet:
          type: string
          description: |
            - Owner wallet public key
        poolAddress:
          type: string
          description: |
            - Dynamic Bonding Curve pool address
        maxQuoteAmount:
          type: number
          description: |
            - Maximum quote amount to claim
          minimum: 0