openapi: 3.0.3

info:
  title: Quickstart
  version: 1.0.0
  description: |
    | Link |
    | --- |

servers:
  - url: https://lite-api.jup.ag/send
    description: Free tier API endpoint with rate limits
  - url: https://api.jup.ag/send
    description: Paid tier API endpoint with higher rate limits to be used with an API Key

paths:
  /craft-send:
    post:
      summary: craft-send
      description: |
        Request for a base64-encoded unsigned Universal Send transaction

        :::note
        - Refer to [Send API doc](/docs/universal-send-api) for more information
        :::
      requestBody:
        type: object
        required:
          - inviteSigner
          - sender
          - amount
        properties:
          inviteSigner:
            type: string
            description: |
              - Public key address generated from the hash of the invite code
              - Do note that, the invite code requires to be generated client side, [refer to docs](/docs/universal-send-api)
              - Please handle invite code and secret key with highest security as user funds are involved
          sender:
            type: string
            description: |
              - Public key address of the sender
              - This address will be funding the amount to be sent and the token accounts involved
          amount:
            type: string
            description: |
              - Amount in atomic value (before decimals)
              - E.g. to send 1 USDC is equivalent of `amount='1000000'`
              - Do note that there will be additional SOL amount being used in the transaction for transaction fees and token accounts
          mint:
            type: string
            description: |
              - Defaults to WSOL mint
              - Only pass in this parameter with other mint when required
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - tx
                  - expiry
                  - totalFeeLamports
                properties:
                  tx:
                    type: string
                    description: |
                      - Base64-encoded unsigned Universal Send transaction
                  expiry:
                    type: string
                    description: |
                      - Unix timestamp of when the invite will expire
                      - Expired invites will automatically clawback to sender
                  totalFeeLamports:
                    type: string
                    description: |
                      - Amount of fees required for network's transaction fee and token accounts
        '400':
          description: Bad request body
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error

  /craft-clawback:
    post:
      summary: craft-clawback
      description: |
        Request for a base64-encoded unsigned Universal Send transaction

        :::note
        - Refer to [Send API doc](/docs/universal-send-api) for more information
        :::
      requestBody:
        type: object
        required:
          - invitePDA
          - sender
        properties:
          invitePDA:
            type: string
            description: |
              - Program Derived Address derived by `"invite"` and the public key of the invite
              - Do note that, the invitePDA requires to be generated client side, [refer to docs](/docs/universal-send-api)
              - Please handle invite code and secret key with highest security as user funds are involved
          sender:
            type: string
            description: |
              - Public key address of the sender
              - Since this address funded the invite, it will be the receiving address of the full amount
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - tx
                properties:
                  tx:
                    type: string
                    description: |
                      - Base64-encoded unsigned Universal Send transaction
        '400':
          description: Bad request body
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error