openapi: 3.0.3
info:
  title: Jupiter Price API V3
  version: 3.0.0
  description: Jupiter Price API V3 Schema

servers:
  - url: https://api.jup.ag
    description: Jupiter Price API V3 Endpoint

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Get API key via https://portal.jup.ag

paths:
  "/price/v3":
    get:
      summary: price
      description: |
        Returns prices of specified tokens.
      security:
        - ApiKeyAuth: []
      parameters:
      - name: ids
        in: query
        description: "Comma separate to pass in multiple"
        required: true
        schema:
          type: string
        example: 'So11111111111111111111111111111111111111112,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  description: Token addresses as keys
                  type: object
                  properties:
                    blockId:
                      type: integer
                      nullable: true
                    decimals:
                      type: integer
                    usdPrice:
                      type: number
                    priceChange24h:
                      type: number
                      nullable: true
                  required:
                    - decimals
                    - usdPrice
              example:
                data:
                  So11111111111111111111111111111111111111112:
                    id: "So11111111111111111111111111111111111111112"
                    type: "derivedPrice"
                    price: "171.340000000"
                    extraInfo:
                      lastSwappedPrice:
                        lastJupiterSellAt: 1710000000
                        lastJupiterSellPrice: "171.34"
                        lastJupiterBuyAt: 1710000001
                        lastJupiterBuyPrice: "171.35"
                      quotedPrice:
                        buyPrice: "171.35"
                        buyAt: 1710000001
                        sellPrice: "171.34"
                        sellAt: 1710000000
                      confidenceLevel: "high"
                      depth:
                        buyPriceImpactRatio:
                          depth:
                            "10": 0.001
                            "100": 0.005
                            "1000": 0.012
                        sellPriceImpactRatio:
                          depth:
                            "10": 0.001
                            "100": 0.004
                            "1000": 0.011
                  EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v:
                    id: "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                    type: "derivedPrice"
                    price: "1.000000000"
                timeTaken: 0.005
        '400':
          description: Bad request
        '500':
          description: Internal server error
