openapi: 3.0.3
info:
  title: Jupiter Price API V3
  version: 3.0.0
  description: |
    Jupiter Price API V3 Schema

servers:
  - url: https://api.jup.ag
    description: Jupiter Price API V3 Endpoint

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Get API key via https://portal.jup.ag

paths:
  "/price/v3":
    get:
      summary: price
      description: |
        Returns prices of specified tokens.
      security:
        - ApiKeyAuth: []
      parameters:
      - name: ids
        in: query
        description: "Comma separate to pass in multiple"
        required: true
        schema:
          type: string
        example: 'So11111111111111111111111111111111111111112,EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  description: Token addresses as keys
                  type: object
                  properties:
                    blockId:
                      type: integer
                      nullable: true
                    decimals:
                      type: integer
                    usdPrice:
                      type: number
                    priceChange24h:
                      type: number
                      nullable: true
                  required:
                    - decimals
                    - usdPrice
        '400':
          description: Bad request
        '500':
          description: Internal server error
