openapi: 3.0.3
info:
  title: Jupiter Prediction Market API
  version: 1.0.0
  description: Jupiter Prediction Market API Schema

servers:
  - url: https://api.jup.ag/prediction/v1
    description: Jupiter Prediction Market API Endpoint

security:
  - ApiKeyAuth: []

tags:
  - name: Events
  - name: Markets
  - name: Orders
  - name: Positions
  - name: History
  - name: Trading
  - name: Orderbook
  - name: Milestones
  - name: Vault
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Get API key via https://portal.jup.ag
  schemas:
    EventMetadata:
      type: object
      properties:
        eventId:
          type: string
        title:
          type: string
        subtitle:
          type: string
        imageUrl:
          type: string
          format: uri
        isLive:
          type: boolean
      required:
        - eventId
    MarketMetadata:
      type: object
      properties:
        marketId:
          type: string
        title:
          type: string
        subtitle:
          type: string
        description:
          type: string
        status:
          type: string
        result:
          type: string
        closeTime:
          type: number
        openTime:
          type: number
        settlementTime:
          type: number
        isTradable:
          type: boolean
        rulesPrimary:
          type: string
        rulesSecondary:
          type: string
      required:
        - marketId
        - isTradable
    MarketPricing:
      type: object
      properties:
        buyYesPriceUsd:
          type: number
          nullable: true
        buyNoPriceUsd:
          type: number
          nullable: true
        sellYesPriceUsd:
          type: number
          nullable: true
        sellNoPriceUsd:
          type: number
          nullable: true
        volume:
          type: number
        openInterest:
          type: number
        volume24h:
          type: number
        liquidityDollars:
          type: number
        notionalValueDollars:
          type: number
    Market:
      type: object
      properties:
        marketId:
          type: string
          description: Market identifier
        event:
          type: string
          description: Associated event identifier
        status:
          type: string
          enum:
            - open
            - closed
            - cancelled
          description: Current market status
        result:
          type: string
          enum:
            - ""
            - pending
            - yes
            - no
          description: Current market result
        openTime:
          type: number
          description: Unix timestamp (seconds) when the market opens
        closeTime:
          type: number
          description: Unix timestamp (seconds) when the market closes
        settlementTime:
          type: number
          description: Unix timestamp (seconds) when the market settled (0 if pending)
        metadata:
          $ref: "#/components/schemas/MarketMetadata"
        pricing:
          $ref: "#/components/schemas/MarketPricing"
      required:
        - marketId
        - event
        - status
        - result
        - openTime
        - closeTime
        - settlementTime
    Event:
      type: object
      properties:
        eventId:
          type: string
          description: Application-level identifier
        series:
          type: string
          description: Series-level identifier
        winner:
          type: string
          description: Winning market public key (empty string when unresolved)
        multipleWinners:
          type: boolean
          description: Whether the event allows multiple winning markets
        isActive:
          type: boolean
          description: Whether the event is active (listed on events)
        isLive:
          type: boolean
          description: Whether the event is currently live
        isTrending:
          type: boolean
          description: Whether the event is trending in the current response context
        isRecommended:
          type: boolean
          description: Whether the event is recommended in the current response context
        category:
          type: string
          description: "The category for the event, allowed values: all, crypto, sports,
            politics, esports, culture, economics, tech"
        subcategory:
          type: string
          description: The subcategory for the event
        metadata:
          $ref: "#/components/schemas/EventMetadata"
        markets:
          type: array
          items:
            $ref: "#/components/schemas/Market"
        tvlDollars:
          type: string
          description: Formatted TVL in USD (no currency symbol)
        volumeUsd:
          type: string
          description: Total volume for the event
        closeCondition:
          type: string
          description: Close condition for the event
        beginAt:
          type: string
          nullable: true
          description: Unix timestamp (seconds) when the event begins
        rulesPdf:
          type: string
          description: Document to full rules for the event
      required:
        - eventId
        - series
        - winner
        - multipleWinners
        - isActive
        - isLive
        - isTrending
        - isRecommended
        - category
        - subcategory
        - tvlDollars
        - volumeUsd
        - closeCondition
        - beginAt
        - rulesPdf
    Pagination:
      type: object
      properties:
        start:
          type: integer
          minimum: 0
        end:
          type: integer
          minimum: 0
        total:
          type: integer
          minimum: 0
        hasNext:
          type: boolean
      required:
        - start
        - end
        - total
        - hasNext
    ErrorResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - invalid_request_error
            - authentication_error
            - permission_error
            - idempotency_error
            - rate_limit_error
            - api_error
        message:
          type: string
        code:
          type: string
        param:
          type: string
        request_id:
          type: string
        doc_url:
          type: string
      required:
        - type
        - message
        - request_id
    Order:
      type: object
      properties:
        pubkey:
          type: string
          description: Order account public key
        owner:
          type: string
          description: Order owner public key
        ownerPubkey:
          type: string
          description: Order owner public key (alias of owner, use ownerPubkey when
            available)
        market:
          type: string
          description: Associated market public key
        marketId:
          type: string
          description: External market identifier used to derive the PDA
        marketIdHash:
          type: string
          description: Hashed market identifier used for on-chain PDAs
        eventId:
          type: string
          description: External event identifier
        position:
          type: string
          description: Associated position public key
        status:
          type: string
          enum:
            - pending
            - filled
            - failed
          description: Current order status
        isYes:
          type: boolean
          description: True when order is for the YES side
        isBuy:
          type: boolean
          description: True when order is a buy order
        createdAt:
          type: integer
          description: Unix timestamp (seconds) when the order was created
        updatedAt:
          type: integer
          description: Unix timestamp (seconds) when the order last changed on-chain
        contracts:
          type: string
          description: Number of contracts (u64 as string)
        maxFillPriceUsd:
          type: string
          description: Maximum fill price in micro USD (u64 as string)
        maxBuyPriceUsd:
          type: string
          nullable: true
          description: Buyer-specified max fill price (micro USD)
        minSellPriceUsd:
          type: string
          nullable: true
          description: Seller-specified min fill price (micro USD)
        filledAt:
          type: integer
          description: Unix timestamp (seconds) when the order was filled (0 when pending)
        filledContracts:
          type: string
          description: Number of filled contracts (u64 as string)
        avgFillPriceUsd:
          type: string
          description: Average fill price in micro USD (u64 as string)
        settled:
          type: boolean
          description: Whether the order has been settled on-chain
        orderId:
          type: string
          description: External order identifier from the venue
        sizeUsd:
          type: string
          description: Order notional in micro USD (u128 as string)
        eventMetadata:
          $ref: "#/components/schemas/EventMetadata"
        marketMetadata:
          allOf:
            - $ref: "#/components/schemas/MarketMetadata"
            - properties:
                marketId:
                  type: string
                eventId:
                  type: string
                title:
                  type: string
                subtitle:
                  type: string
                description:
                  type: string
                status:
                  type: string
                result:
                  type: string
                closeTime:
                  type: number
                openTime:
                  type: number
                settlementTime:
                  type: number
                isTradable:
                  type: boolean
        externalOrderId:
          type: string
          description: Client-provided order identifier
        bump:
          type: integer
          minimum: 0
      required:
        - pubkey
        - owner
        - ownerPubkey
        - market
        - marketId
        - marketIdHash
        - eventId
        - position
        - status
        - isYes
        - isBuy
        - createdAt
        - updatedAt
        - contracts
        - maxFillPriceUsd
        - maxBuyPriceUsd
        - minSellPriceUsd
        - filledAt
        - filledContracts
        - avgFillPriceUsd
        - settled
        - orderId
        - sizeUsd
        - eventMetadata
        - marketMetadata
        - externalOrderId
        - bump
    CreateOrderResponse:
      type: object
      properties:
        transaction:
          type: string
          nullable: true
          description: Base64 encoded transaction
        txMeta:
          type: object
          nullable: true
          properties:
            blockhash:
              type: string
            lastValidBlockHeight:
              type: integer
              minimum: 0
          required:
            - blockhash
            - lastValidBlockHeight
          description: Transaction metadata
        externalOrderId:
          type: string
          nullable: true
        order:
          type: object
          properties:
            orderPubkey:
              type: string
              nullable: true
              description: Order account public key
            orderAtaPubkey:
              type: string
              nullable: true
              description: Order escrow token account
            userPubkey:
              type: string
              description: Order owner public key
            marketId:
              type: string
              description: Associated market identifier
            marketIdHash:
              type: string
              description: Hashed market identifier used for on-chain PDAs
            positionPubkey:
              type: string
              description: Position PDA used for the order
            isBuy:
              type: boolean
              description: True when the order increases exposure
            isYes:
              type: boolean
              description: True when the order is on the YES side
            contracts:
              type: string
              description: Contracts included in this order
            newContracts:
              type: string
              description: Position contracts after executing the order
            maxBuyPriceUsd:
              type: string
              nullable: true
              description: Max fill price for buys (micro USD)
            minSellPriceUsd:
              type: string
              nullable: true
              description: Min fill price for sells (micro USD)
            externalOrderId:
              type: string
              nullable: true
              description: Client provided order identifier
            orderCostUsd:
              type: string
              description: Notional for this order in micro USD
            newAvgPriceUsd:
              type: string
              description: Average position entry price after the order
            newSizeUsd:
              type: string
              description: Total position cost basis after the order
            newPayoutUsd:
              type: string
              description: Position max payout after the order
            estimatedProtocolFeeUsd:
              type: string
              description: Estimated protocol fee (micro USD)
            estimatedVenueFeeUsd:
              type: string
              description: Estimated venue fee (micro USD)
            estimatedTotalFeeUsd:
              type: string
              description: Estimated total fees applied (micro USD)
          required:
            - orderPubkey
            - orderAtaPubkey
            - userPubkey
            - marketId
            - marketIdHash
            - positionPubkey
            - isBuy
            - isYes
            - contracts
            - newContracts
            - maxBuyPriceUsd
            - minSellPriceUsd
            - externalOrderId
            - orderCostUsd
            - newAvgPriceUsd
            - newSizeUsd
            - newPayoutUsd
            - estimatedProtocolFeeUsd
            - estimatedVenueFeeUsd
            - estimatedTotalFeeUsd
      required:
        - transaction
        - txMeta
        - externalOrderId
        - order
    CreateOrderRequest:
      type: object
      properties:
        ownerPubkey:
          type: string
          description: Order owner public key
        userPubkey:
          type: string
          description: Order owner public key (deprecated alias; use ownerPubkey)
        marketId:
          type: string
          minLength: 1
          description: Hashed or canonical market ID for buys
        positionPubkey:
          type: string
          minLength: 32
          description: Required for sells
        isYes:
          type: boolean
        isBuy:
          type: boolean
        contracts:
          anyOf:
            - type: string
            - type: number
        maxBuyPriceUsd:
          anyOf:
            - type: string
            - type: number
          description: Must be between 10000 ($0.01) to 999999 ($0.99)
        minSellPriceUsd:
          anyOf:
            - type: string
            - type: number
          description: Must be between 10000 ($0.01) to 999999 ($0.99)
        depositAmount:
          anyOf:
            - type: string
            - type: number
          description: Amount must conform to the token decimals used by the token mint in
            `depositMint`
        depositMint:
          type: string
          default: EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
          description: Mint address for the deposit token
      required:
        - isBuy
    CloseOrderResponse:
      type: object
      properties:
        blockhash:
          type: string
        transaction:
          type: string
          description: Base64 encoded transaction
        latestBlockhash:
          type: string
        lastValidBlockHeight:
          type: integer
          minimum: 0
        requiredSigners:
          type: array
          items:
            type: string
        computeUnits:
          type: integer
          minimum: 0
        orderPubkey:
          type: string
        accounts:
          type: object
          properties:
            owner:
              type: string
            authority:
              type: string
            vault:
              type: string
            marketId:
              type: string
            position:
              type: string
            order:
              type: string
            orderAta:
              type: string
            ownerTokenAccount:
              type: string
            settlementMint:
              type: string
          required:
            - owner
            - authority
            - vault
            - marketId
            - position
            - order
            - orderAta
            - ownerTokenAccount
            - settlementMint
      required:
        - blockhash
        - transaction
        - latestBlockhash
        - lastValidBlockHeight
        - requiredSigners
        - computeUnits
        - orderPubkey
        - accounts
    CloseOrderRequest:
      type: object
      properties:
        ownerPubkey:
          type: string
          minLength: 32
          description: Order owner public key
        userPubkey:
          type: string
          minLength: 32
          description: Order owner public key (deprecated alias; use ownerPubkey)
        orderPubkey:
          type: string
          minLength: 32
      required:
        - orderPubkey
    CloseAllOrdersRequest:
      type: object
      properties:
        ownerPubkey:
          type: string
          minLength: 32
          description: Order owner public key
        userPubkey:
          type: string
          minLength: 32
          description: Order owner public key (deprecated alias; use ownerPubkey)
        statuses:
          type: array
          items:
            type: string
            enum:
              - pending
              - filled
              - failed
    Position:
      type: object
      properties:
        pubkey:
          type: string
          description: Position account public key
        owner:
          type: string
          description: Position owner public key
        ownerPubkey:
          type: string
          description: Position owner public key (alias of owner, prefer ownerPubkey going
            forward)
        market:
          type: string
          description: Deterministic market PDA derived from marketId
        marketId:
          type: string
          description: External market identifier (ticker)
        marketIdHash:
          type: string
          description: Hashed market identifier used for on-chain PDAs
        isYes:
          type: boolean
          description: True if this is a YES position
        contracts:
          type: string
          description: Contracts held (u64 as string)
        totalCostUsd:
          type: string
          description: Total cost basis in micro USD (u128 as string)
        sizeUsd:
          type: string
          description: Alias of total cost basis in micro USD (u128 as string)
        valueUsd:
          type: string
          nullable: true
          description: Mark-to-market value in micro USD (u128 as string); null once
            market is closed
        avgPriceUsd:
          type: string
          description: Average entry price per contract in micro USD (u64 as string)
        markPriceUsd:
          type: string
          nullable: true
          description: Current mark price per contract in micro USD (u64 as string); null
            once market is closed
        sellPriceUsd:
          type: string
          nullable: true
          description: Current best exit price for this side (micro USD string), or null
            when unavailable
        pnlUsd:
          type: string
          nullable: true
          description: Unrealized PnL in micro USD (i128 as string); null once market is
            closed
        pnlUsdPercent:
          type: number
          nullable: true
          description: Unrealized PnL percentage relative to size; null once market is
            closed
        pnlUsdAfterFees:
          type: string
          nullable: true
          description: Unrealized PnL after fees in micro USD (i128 as string); null once
            market is closed
        pnlUsdAfterFeesPercent:
          type: number
          nullable: true
          description: Unrealized PnL after fees percentage relative to size; null once
            market is closed
        openOrders:
          type: integer
          minimum: 0
          description: Number of open orders
        feesPaidUsd:
          type: string
          description: Total fees paid in micro USD (u64 as string)
        realizedPnlUsd:
          type: number
          description: Realized PnL in micro USD (i64 as number)
        claimed:
          type: boolean
          description: Whether payout has been claimed
        claimedUsd:
          type: string
          description: Amount claimed in micro USD (u64 as string)
        openedAt:
          type: integer
          description: Unix timestamp when the position was opened
        updatedAt:
          type: integer
          description: Unix timestamp of the last position update
        claimableAt:
          type: integer
          nullable: true
          description: Unix timestamp (seconds) when the position becomes claimable; null
            when unavailable
        payoutUsd:
          type: string
          description: Notional payout if position wins (contracts * $1)
        bump:
          type: integer
          minimum: 0
        eventId:
          type: string
          description: External event identifier if available
        eventMetadata:
          $ref: "#/components/schemas/EventMetadata"
        marketMetadata:
          allOf:
            - $ref: "#/components/schemas/MarketMetadata"
            - properties:
                marketId:
                  type: string
                eventId:
                  type: string
                title:
                  type: string
                subtitle:
                  type: string
                description:
                  type: string
                status:
                  type: string
                result:
                  type: string
                closeTime:
                  type: number
                openTime:
                  type: number
                settlementTime:
                  type: number
                isTradable:
                  type: boolean
        settlementDate:
          type: integer
          nullable: true
          description: Unix timestamp (seconds) when the market settles; null when
            unavailable
        claimable:
          type: boolean
          description: True when the position qualifies for payout claim
      required:
        - pubkey
        - owner
        - ownerPubkey
        - market
        - marketId
        - marketIdHash
        - isYes
        - contracts
        - totalCostUsd
        - sizeUsd
        - valueUsd
        - avgPriceUsd
        - markPriceUsd
        - sellPriceUsd
        - pnlUsd
        - pnlUsdPercent
        - pnlUsdAfterFees
        - pnlUsdAfterFeesPercent
        - openOrders
        - feesPaidUsd
        - realizedPnlUsd
        - claimed
        - claimedUsd
        - openedAt
        - updatedAt
        - claimableAt
        - payoutUsd
        - bump
        - eventId
        - eventMetadata
        - marketMetadata
        - settlementDate
        - claimable
    ClosePositionRequest:
      type: object
      properties:
        ownerPubkey:
          type: string
          minLength: 32
          description: Position owner public key
        userPubkey:
          type: string
          minLength: 32
          description: Position owner public key (deprecated alias; use ownerPubkey)
        minSellPriceUsd:
          anyOf:
            - type: string
            - type: number
      required:
        - minSellPriceUsd
    ClaimPositionResponse:
      type: object
      properties:
        transaction:
          type: string
          description: Base64 encoded transaction
        txMeta:
          type: object
          properties:
            blockhash:
              type: string
            lastValidBlockHeight:
              type: integer
              minimum: 0
          required:
            - blockhash
            - lastValidBlockHeight
        position:
          type: object
          properties:
            positionPubkey:
              type: string
              description: Position account public key
            marketPubkey:
              type: string
              description: Market account public key
            userPubkey:
              type: string
              description: User public key requesting claim
            ownerPubkey:
              type: string
              description: Position owner public key
            isYes:
              type: boolean
            contracts:
              type: string
              description: Contracts settled (u64 as string)
            payoutAmountUsd:
              type: string
              description: Payout amount in micro USD (u64 as string)
          required:
            - positionPubkey
            - marketPubkey
            - userPubkey
            - ownerPubkey
            - isYes
            - contracts
            - payoutAmountUsd
      required:
        - transaction
        - txMeta
        - position
    CloseAllPositionsRequest:
      type: object
      properties:
        ownerPubkey:
          type: string
          minLength: 32
          description: Position owner public key
        userPubkey:
          type: string
          minLength: 32
          description: Position owner public key (deprecated alias; use ownerPubkey)
        minSellPriceSlippageBps:
          type: integer
          nullable: true
          minimum: 0
          maximum: 10000
      required:
        - minSellPriceSlippageBps
    ClaimPositionRequest:
      type: object
      properties:
        ownerPubkey:
          type: string
          minLength: 32
          description: Position owner public key
        userPubkey:
          type: string
          minLength: 32
          description: Position owner public key (deprecated alias; use ownerPubkey)
    HistoryEvent:
      type: object
      properties:
        id:
          type: integer
        eventType:
          type: string
          enum:
            - order_created
            - order_filled
            - order_failed
            - payout_claimed
            - position_updated
            - position_lost
        signature:
          type: string
        slot:
          type: string
        timestamp:
          type: integer
        orderPubkey:
          type: string
        positionPubkey:
          type: string
        marketId:
          type: string
        ownerPubkey:
          type: string
        keeperPubkey:
          type: string
        externalOrderId:
          type: string
        orderId:
          type: string
        isBuy:
          type: boolean
        isYes:
          type: boolean
        contracts:
          type: string
        filledContracts:
          type: string
        contractsSettled:
          type: string
        maxFillPriceUsd:
          type: string
        avgFillPriceUsd:
          type: string
        maxBuyPriceUsd:
          type: string
          nullable: true
        minSellPriceUsd:
          type: string
          nullable: true
        depositAmountUsd:
          type: string
        totalCostUsd:
          type: string
        feeUsd:
          type: string
          nullable: true
        grossProceedsUsd:
          type: string
        netProceedsUsd:
          type: string
        transferAmountToken:
          type: string
          nullable: true
        realizedPnl:
          type: string
          nullable: true
        realizedPnlBeforeFees:
          type: string
          nullable: true
        payoutAmountUsd:
          type: string
        eventId:
          type: string
        marketMetadata:
          allOf:
            - $ref: "#/components/schemas/MarketMetadata"
            - properties:
                marketId:
                  type: string
                eventId:
                  type: string
                title:
                  type: string
                subtitle:
                  type: string
                description:
                  type: string
                status:
                  type: string
                result:
                  type: string
                closeTime:
                  type: number
                openTime:
                  type: number
                settlementTime:
                  type: number
                isTradable:
                  type: boolean
        eventMetadata:
          $ref: "#/components/schemas/EventMetadata"
      required:
        - id
        - eventType
        - signature
        - slot
        - timestamp
        - orderPubkey
        - positionPubkey
        - marketId
        - ownerPubkey
        - keeperPubkey
        - externalOrderId
        - orderId
        - isBuy
        - isYes
        - contracts
        - filledContracts
        - contractsSettled
        - maxFillPriceUsd
        - avgFillPriceUsd
        - maxBuyPriceUsd
        - minSellPriceUsd
        - depositAmountUsd
        - totalCostUsd
        - feeUsd
        - grossProceedsUsd
        - netProceedsUsd
        - transferAmountToken
        - realizedPnl
        - realizedPnlBeforeFees
        - payoutAmountUsd
        - eventId
        - marketMetadata
        - eventMetadata
    TradingStatusResponse:
      type: object
      properties:
        trading_active:
          type: boolean
      required:
        - trading_active
  parameters: {}
paths:
  /events/search:
    get:
      tags:
        - Events
      parameters:
        - schema:
            type: string
            enum:
              - kalshi
              - polymarket
            default: polymarket
            description: Data provider for events (defaults to polymarket)
          required: false
          description: Data provider for events (defaults to polymarket)
          name: provider
          in: query
        - schema:
            type: string
            minLength: 1
            maxLength: 200
            description: Search term matched against event titles
          required: true
          description: Search term matched against event titles
          name: query
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 20
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Events matching the search query
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Event"
                required:
                  - data
  /events:
    get:
      tags:
        - Events
      parameters:
        - schema:
            type: string
            enum:
              - kalshi
              - polymarket
            default: polymarket
            description: Data provider for events (defaults to polymarket)
          required: false
          description: Data provider for events (defaults to polymarket)
          name: provider
          in: query
        - schema:
            type: boolean
            nullable: true
          required: false
          name: includeMarkets
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: start
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: end
          in: query
        - schema:
            type: string
            enum:
              - all
              - crypto
              - sports
              - politics
              - esports
              - culture
              - economics
              - tech
          required: false
          name: category
          in: query
        - schema:
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
              - type: string
          required: false
          name: subcategory
          in: query
        - schema:
            type: string
            enum:
              - volume
              - beginAt
            description: Sort field for events (volume or begin time). Pair with
              sortDirection to control ascending/descending.
          required: false
          description: Sort field for events (volume or begin time). Pair with
            sortDirection to control ascending/descending.
          name: sortBy
          in: query
        - schema:
            type: string
            enum:
              - asc
              - desc
            description: Direction for the chosen sort field. Defaults to desc for volume
              and asc for beginAt.
          required: false
          description: Direction for the chosen sort field. Defaults to desc for volume
            and asc for beginAt.
          name: sortDirection
          in: query
        - schema:
            type: string
            enum:
              - new
              - live
              - trending
            description: Apply named filters. Use `new` for events created in the last 24
              hours, `live` for events that have begun, and `trending` for
              events with recent trade activity.
          required: false
          description: Apply named filters. Use `new` for events created in the last 24
            hours, `live` for events that have begun, and `trending` for events
            with recent trade activity.
          name: filter
          in: query
      responses:
        "200":
          description: List of all events
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Event"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                required:
                  - data
                  - pagination
  /events/{eventId}:
    get:
      tags:
        - Events
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Event identifier
          required: true
          description: Event identifier
          name: eventId
          in: path
        - schema:
            type: boolean
            nullable: true
          required: false
          name: includeMarkets
          in: query
      responses:
        "200":
          description: Event data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "404":
          description: Event not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /events/suggested/{pubkey}:
    get:
      tags:
        - Events
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Order public key to base suggested events on
          required: true
          description: Order public key to base suggested events on
          name: pubkey
          in: path
        - schema:
            type: string
            enum:
              - kalshi
              - polymarket
            default: polymarket
            description: Data provider for events (defaults to polymarket)
          required: false
          description: Data provider for events (defaults to polymarket)
          name: provider
          in: query
      responses:
        "200":
          description: Suggested events derived from the user's order activity
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Event"
                required:
                  - data
  /events/{eventId}/markets:
    get:
      tags:
        - Markets
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Event identifier
          required: true
          description: Event identifier
          name: eventId
          in: path
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: start
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: end
          in: query
      responses:
        "200":
          description: List of markets for the given event
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Market"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                required:
                  - data
                  - pagination
  /events/{eventId}/markets/{marketId}:
    get:
      tags:
        - Markets
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Event identifier
          required: true
          description: Event identifier
          name: eventId
          in: path
        - schema:
            type: string
            minLength: 1
            description: Market identifier
          required: true
          description: Market identifier
          name: marketId
          in: path
      responses:
        "200":
          description: Market data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Market"
        "404":
          description: Market not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /markets/{marketId}:
    get:
      tags:
        - Markets
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Market identifier
          required: true
          description: Market identifier
          name: marketId
          in: path
      responses:
        "200":
          description: Market data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Market"
        "404":
          description: Market not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /orders:
    get:
      tags:
        - Orders
      parameters:
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: start
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: end
          in: query
        - schema:
            type: string
            minLength: 1
          required: false
          name: ownerPubkey
          in: query
        - schema:
            type: string
            minLength: 1
            description: Order owner public key (deprecated alias; use ownerPubkey)
          required: false
          description: Order owner public key (deprecated alias; use ownerPubkey)
          name: userPubkey
          in: query
      responses:
        "200":
          description: List of all orders registered on-chain
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Order"
                  pagination:
                    type: object
                    properties:
                      start:
                        type: integer
                        minimum: 0
                      end:
                        type: integer
                        minimum: 0
                      total:
                        type: integer
                        minimum: 0
                      hasNext:
                        type: boolean
                    required:
                      - start
                      - end
                      - total
                      - hasNext
                required:
                  - data
                  - pagination
        "400":
          description: Failed to fetch orders
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOrderRequest"
      responses:
        "200":
          description: Unsigned transaction for creating an order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateOrderResponse"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CloseOrderRequest"
      responses:
        "200":
          description: Unsigned transaction for closing an order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CloseOrderResponse"
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /orders/{orderPubkey}:
    get:
      tags:
        - Orders
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Order account public key
          required: true
          description: Order account public key
          name: orderPubkey
          in: path
      responses:
        "200":
          description: Order data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Order"
        "400":
          description: Failed to fetch order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Order not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /orders/status/{orderPubkey}:
    get:
      tags:
        - Orders
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Order account public key
          required: true
          description: Order account public key
          name: orderPubkey
          in: path
      responses:
        "200":
          description: Latest status for an order with event history
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderPubkey:
                    type: string
                  status:
                    type: string
                  latestEventType:
                    type: string
                  latestSignature:
                    type: string
                  externalOrderId:
                    type: string
                  orderId:
                    type: string
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        eventType:
                          type: string
                        status:
                          type: string
                        rawStatus:
                          type: string
                        timestamp:
                          type: integer
                        signature:
                          type: string
                        externalOrderId:
                          type: string
                        orderId:
                          type: string
                      required:
                        - eventType
                        - status
                        - rawStatus
                        - timestamp
                        - signature
                        - externalOrderId
                        - orderId
                required:
                  - orderPubkey
                  - status
                  - latestEventType
                  - latestSignature
                  - externalOrderId
                  - orderId
                  - history
        "400":
          description: Failed to fetch order status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Order history not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /orders/close-all:
    delete:
      tags:
        - Orders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CloseAllOrdersRequest"
      responses:
        "200":
          description: Unsigned transactions to close all pending orders
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CloseOrderResponse"
                required:
                  - data
        "400":
          description: Unable to build close order transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /positions:
    get:
      tags:
        - Positions
      parameters:
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: start
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: end
          in: query
        - schema:
            type: string
            minLength: 1
            description: Position owner public key
          required: false
          description: Position owner public key
          name: ownerPubkey
          in: query
        - schema:
            type: string
            minLength: 1
            description: Position owner public key (deprecated alias; use ownerPubkey)
          required: false
          description: Position owner public key (deprecated alias; use ownerPubkey)
          name: userPubkey
          in: query
        - schema:
            type: string
            minLength: 1
          required: false
          name: marketPubkey
          in: query
        - schema:
            type: string
            minLength: 1
          required: false
          name: marketId
          in: query
        - schema:
            type: string
            enum:
              - "true"
              - "false"
            description: Filter by position side (true = YES, false = NO)
          required: false
          description: Filter by position side (true = YES, false = NO)
          name: isYes
          in: query
      responses:
        "200":
          description: List of on-chain positions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Position"
                  pagination:
                    type: object
                    properties:
                      start:
                        type: integer
                        minimum: 0
                      end:
                        type: integer
                        minimum: 0
                      total:
                        type: integer
                        minimum: 0
                      hasNext:
                        type: boolean
                    required:
                      - start
                      - end
                      - total
                      - hasNext
                required:
                  - data
                  - pagination
        "400":
          description: Failed to fetch positions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags:
        - Positions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CloseAllPositionsRequest"
      responses:
        "200":
          description: Unsigned transactions that sell all contracts across every open
            position for the user
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      anyOf:
                        - $ref: "#/components/schemas/CreateOrderResponse"
                        - $ref: "#/components/schemas/ClaimPositionResponse"
                required:
                  - data
        "400":
          description: Unable to build close positions transactions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /positions/{positionPubkey}:
    get:
      tags:
        - Positions
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Position account public key
          required: true
          description: Position account public key
          name: positionPubkey
          in: path
      responses:
        "200":
          description: Position data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Position"
        "400":
          description: Failed to fetch position
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Position not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    delete:
      tags:
        - Positions
      parameters:
        - schema:
            type: string
            minLength: 32
            description: Position account public key
          required: true
          description: Position account public key
          name: positionPubkey
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClosePositionRequest"
      responses:
        "200":
          description: Unsigned transaction that sells all contracts for a position
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateOrderResponse"
        "400":
          description: Unable to build close position transaction
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Position not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /positions/{positionPubkey}/claim:
    post:
      tags:
        - Positions
      parameters:
        - schema:
            type: string
            minLength: 32
            description: Position account public key
          required: true
          description: Position account public key
          name: positionPubkey
          in: path
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClaimPositionRequest"
      responses:
        "200":
          description: Unsigned transaction to claim payout for a winning position
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimPositionResponse"
        "400":
          description: Unable to build claim payout transaction
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: Position not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /history:
    get:
      tags:
        - History
      parameters:
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: start
          in: query
        - schema:
            type: integer
            nullable: true
            minimum: 0
          required: false
          name: end
          in: query
        - schema:
            type: string
            minLength: 32
            description: History owner public key
          required: false
          description: History owner public key
          name: ownerPubkey
          in: query
        - schema:
            type: string
            minLength: 32
            description: History owner public key (deprecated alias; use ownerPubkey)
          required: false
          description: History owner public key (deprecated alias; use ownerPubkey)
          name: userPubkey
          in: query
        - schema:
            type: integer
            minimum: 1
            description: History event ID
          required: false
          description: History event ID
          name: id
          in: query
        - schema:
            type: string
            minLength: 32
            description: Filter by position public key
          required: false
          description: Filter by position public key
          name: positionPubkey
          in: query
      responses:
        "200":
          description: Paginated event history, or single event when id is provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/HistoryEvent"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                required:
                  - data
                  - pagination
  /forecast:
    get:
      tags:
        - Forecast
      responses:
        "200":
          description: Forecast data from price service
          content:
            application/json:
              schema:
                nullable: true
                description: Forecast response payload
        "502":
          description: Failed to fetch forecast data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /trading-status:
    get:
      tags:
        - Trading
      responses:
        "200":
          description: Current Kalshi and Polymarket exchange trading status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradingStatusResponse"
  /orderbook/{marketId}:
    get:
      tags:
        - Orderbook
      parameters:
        - schema:
            type: string
            minLength: 1
            description: Kalshi or Polymarket market identifier
            example: KXF1-25-LN
          required: true
          description: Kalshi or Polymarket market identifier
          name: marketId
          in: path
      responses:
        "200":
          description: Orderbook data from price service
          content:
            application/json:
              schema:
                nullable: true
                description: Forecast response payload
        "502":
          description: Failed to fetch forecast data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /profiles/{ownerPubkey}:
    get:
      tags:
        - Profile
      parameters:
        - schema:
            type: string
          required: true
          name: ownerPubkey
          in: path
      responses:
        "200":
          description: Profile stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  ownerPubkey:
                    type: string
                  realizedPnlUsd:
                    type: string
                  totalVolumeUsd:
                    type: string
                  predictionsCount:
                    type: string
                  correctPredictions:
                    type: string
                  wrongPredictions:
                    type: string
                  totalActiveContracts:
                    type: string
                  totalPositionsValueUsd:
                    type: string
                required:
                  - ownerPubkey
                  - realizedPnlUsd
                  - totalVolumeUsd
                  - predictionsCount
                  - correctPredictions
                  - wrongPredictions
                  - totalActiveContracts
                  - totalPositionsValueUsd
        "404":
          description: Profile not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
  /profiles/{ownerPubkey}/pnl-history:
    get:
      tags:
        - Profile
      parameters:
        - schema:
            type: string
          required: true
          name: ownerPubkey
          in: path
        - schema:
            type: string
            enum:
              - 24h
              - 1w
              - 1m
            default: 1w
          required: false
          name: interval
          in: query
        - schema:
            type: integer
            minimum: 0
            exclusiveMinimum: true
            maximum: 1000
            default: 10
          required: false
          name: count
          in: query
      responses:
        "200":
          description: PnL history for charting
          content:
            application/json:
              schema:
                type: object
                properties:
                  ownerPubkey:
                    type: string
                  history:
                    type: array
                    items:
                      type: object
                      properties:
                        timestamp:
                          type: integer
                        realizedPnlUsd:
                          type: string
                      required:
                        - timestamp
                        - realizedPnlUsd
                required:
                  - ownerPubkey
                  - history
  /follow/{ownerPubkey}:
    post:
      tags:
        - Following
      parameters:
        - schema:
            type: string
          required: true
          name: ownerPubkey
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                followerPubkey:
                  type: string
              required:
                - followerPubkey
      responses:
        "201":
          description: Successfully followed user
          content:
            application/json:
              schema:
                type: object
                properties:
                  followerPubkey:
                    type: string
                  followingPubkey:
                    type: string
                  createdAt:
                    type: string
                required:
                  - followerPubkey
                  - followingPubkey
                  - createdAt
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        "404":
          description: User not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
        "409":
          description: Already following
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
  /unfollow/{ownerPubkey}:
    delete:
      tags:
        - Following
      parameters:
        - schema:
            type: string
          required: true
          name: ownerPubkey
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                followerPubkey:
                  type: string
              required:
                - followerPubkey
      responses:
        "200":
          description: Successfully unfollowed user
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                  - success
        "404":
          description: Follow relationship not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
  /followers/{ownerPubkey}:
    get:
      tags:
        - Following
      parameters:
        - schema:
            type: string
          required: true
          name: ownerPubkey
          in: path
      responses:
        "200":
          description: List of followers
          content:
            application/json:
              schema:
                type: object
                properties:
                  followers:
                    type: array
                    items:
                      type: object
                      properties:
                        pubkey:
                          type: string
                        createdAt:
                          type: string
                      required:
                        - pubkey
                        - createdAt
                  count:
                    type: number
                required:
                  - followers
                  - count
        "404":
          description: User not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
  /following/{ownerPubkey}:
    get:
      tags:
        - Following
      parameters:
        - schema:
            type: string
          required: true
          name: ownerPubkey
          in: path
      responses:
        "200":
          description: List of users being followed
          content:
            application/json:
              schema:
                type: object
                properties:
                  following:
                    type: array
                    items:
                      type: object
                      properties:
                        pubkey:
                          type: string
                        createdAt:
                          type: string
                      required:
                        - pubkey
                        - createdAt
                  count:
                    type: number
                required:
                  - following
                  - count
        "404":
          description: User not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
  /trades:
    get:
      tags:
        - Trades
      responses:
        "200":
          description: Recent order_filled events
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        ownerPubkey:
                          type: string
                        marketId:
                          type: string
                        message:
                          type: string
                        timestamp:
                          type: number
                        action:
                          type: string
                          enum:
                            - buy
                            - sell
                        side:
                          type: string
                          enum:
                            - yes
                            - no
                        eventTitle:
                          type: string
                        marketTitle:
                          type: string
                        amountUsd:
                          type: string
                        priceUsd:
                          type: string
                        eventImageUrl:
                          type: string
                        eventId:
                          type: string
                      required:
                        - id
                        - ownerPubkey
                        - marketId
                        - message
                        - timestamp
                        - action
                        - side
                        - eventTitle
                        - marketTitle
                        - amountUsd
                        - priceUsd
                        - eventImageUrl
                        - eventId
                required:
                  - data
  /leaderboards:
    get:
      tags:
        - Leaderboards
      parameters:
        - schema:
            type: string
            enum:
              - all_time
              - weekly
              - monthly
            default: all_time
          required: false
          name: period
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
          required: false
          name: limit
          in: query
        - schema:
            type: string
            enum:
              - pnl
              - volume
              - win_rate
            default: pnl
          required: false
          name: metric
          in: query
      responses:
        "200":
          description: Leaderboard entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        ownerPubkey:
                          type: string
                        realizedPnlUsd:
                          type: string
                        totalVolumeUsd:
                          type: string
                        predictionsCount:
                          type: number
                        correctPredictions:
                          type: number
                        wrongPredictions:
                          type: number
                        winRatePct:
                          type: string
                        period:
                          type: string
                        periodStart:
                          type: string
                          nullable: true
                        periodEnd:
                          type: string
                          nullable: true
                      required:
                        - ownerPubkey
                        - realizedPnlUsd
                        - totalVolumeUsd
                        - predictionsCount
                        - correctPredictions
                        - wrongPredictions
                        - winRatePct
                        - period
                        - periodStart
                        - periodEnd
                  summary:
                    type: object
                    properties:
                      all_time:
                        type: object
                        properties:
                          totalVolumeUsd:
                            type: string
                          predictionsCount:
                            type: number
                        required:
                          - totalVolumeUsd
                          - predictionsCount
                      weekly:
                        type: object
                        properties:
                          totalVolumeUsd:
                            type: string
                          predictionsCount:
                            type: number
                        required:
                          - totalVolumeUsd
                          - predictionsCount
                      monthly:
                        type: object
                        properties:
                          totalVolumeUsd:
                            type: string
                          predictionsCount:
                            type: number
                        required:
                          - totalVolumeUsd
                          - predictionsCount
                    required:
                      - all_time
                      - weekly
                      - monthly
                required:
                  - data
                  - summary
  /vault-info:
    get:
      tags:
        - Vault
      responses:
        "200":
          description: Vault account data
          content:
            application/json:
              schema:
                type: object
                properties:
                  pubkey:
                    type: string
                  data:
                    type: object
                    additionalProperties:
                      type: string
                  vaultBalance:
                    type: string
                required:
                  - pubkey
                  - data
                  - vaultBalance
        "404":
          description: Vault account not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                required:
                  - error
